[2016-10-26 18:16] nalind opened #2 "Add a configuration file"
Defaults are nice and all, but we probably need a configuration file that we can consult by default to fill in missing information when a calling application doesn't want to care about locations or which driver to use.

A first guess is a TOML file with each section containing a tuple of the startup parameters (root directory, runtime root, driver name, driver options) that it will match against i

[2016-10-26 18:18] rhatdan commented on #2
Should this belong to container/storage or OCID?
@mrunalp @runcom PTAL

[2016-10-26 18:20] mrunalp commented on #2
I think that since this is a library, it makes sense to have the config in OCID. The config paramaters could be passed to the storage library instantiation code.

[2016-10-26 18:22] nalind commented on #2
I'd lean that way as well, but I opened the issue so that we could try to figure out how that's supposed to work when OCID's not the only logic that might want to be poking at the layer storage.  Expecting them to parse OCID's configuration file to get this information would feel a bit odd.

[2016-10-26 18:42] rhatdan commented on #2
Yes that true, but wouldn't the other tool have similar config?
Lets look at a system like
atomic CLI and ocid
If an admin wanted atomic and OCID to share the same storage, I would think they would need to configure both.  That way we would have flexibility for each tool to have separate storage.

[2016-10-26 18:42] mrunalp commented on #2
Applications utilizing containers/storage will differ in what file format they want to use (toml, yaml, json, etc). We could just provide an API that takes in a config struct and leave it up to the application to populate the config struct which should be relatively simple glue code using the appropriate parsing library for the format they use.

[code]

[2016-10-26 21:20] nalind commented on #2
I'd be wary that this would lead to requiring the same information to be written to multiple places by something like docker-storage-setup, in order to get OCID and, for example, skopeo on the same page, but it's not a deal-breaker.

The current MakeStore() function accepts its configuration as multiple arguments, but passing in a single structure that can have fields added, and I suppose tagged t

[2016-10-27 12:41] rhatdan commented on #2
I agree lets more to a structure passing and leave the configuration tool to something else.  We are going to have to figure out what we can do with @rhvgoyal docker-storage-setup.

[2016-10-27 18:14] nalind commented on #2
Okay, moved to have the initialization function take a structure, to hopefully require fewer changes in consumers of the library if/when new settings are added.

[2016-10-27 18:14] #2 closed

[2016-11-21 22:08] mrunalp opened #5 "Fix lint issues"
Here is what I get using #4:
[code]

[2016-11-21 22:24] mrunalp commented on #5
All of the warnings are only about duplicates which means probable candidates for refactoring into shared functions.

[2016-12-22 17:03] runcom opened #8 "need storageversion autogen"
when integrating containers/storage in projectatomic/docker it fails with:
[code]
That should be because the package is imported but doesn't have an `autogen` build gtag in any file https://github.com/containers/storage/blob/master/storageversion/

[2016-12-22 17:05] runcom commented on #8
To reproduce the issue go check out https://github.com/projectatomic/docker/tree/docker-1.14.0 and try to compile

[2016-12-22 17:07] runcom commented on #8
@nalind @rhatdan there are also other issues:
[code]
we need this in order to import containers/image into docker for signature verification (because c/image now requires c/storage as well). The 1.14.0 branch is now on hold pending this.

[2017-01-08 12:38] #8 closed

[2017-01-08 12:39] runcom opened #13 "failure to compile in docker"
vendoring c/storage in docker now gives:
[code]

[2017-01-09 11:09] runcom commented on #13
maybe we just need an `IFDEF` in the embedded C here in c/storage

[2017-01-10 08:39] #13 closed

[2017-01-12 18:09] nalind opened #16 "Make it easier to tell that our consumers aren't dockerd"
Since we started out as a branch of docker, the graph drivers and test logic frequently use the string "docker" when constructing file names and process titles.  If a package that consumes this package is deployed on a system that's also running dockerd, I expect it'll be at least a bit confusing when monitoring processes and examining files.

[2017-02-27 21:46] erikh commented on #5
@runcom @nalind mind if I tackle this?

[2017-02-27 21:49] runcom commented on #5
@erikh :+1: :heart:

[2017-03-05 00:46] erikh opened #28 "Scope mounting options (with build tags)"
Currently I cannot build a static binary because of the devmapper requirement. My application will never use devicemapper in practice and probably not several of the other options. I would like the ability to filter them.

I can provide the patch for this, just need the go-ahead.

[2017-03-06 14:00] rhatdan commented on #28
I am fine with adding filters to eliminate unsupported backends.

[2017-03-06 18:59] erikh opened #29 "Build on pre-1.7 versions of go"
Notable issues will be managing `vendor/` and the `context` package.

[2017-04-20 14:40] vbatts opened #37 "Carve things up and move storage interfaces to a new model"
Based on recent conversations, let's move away from this codebase that is carried from the Docker graphdriver. Ideally the model like stdlib [`database/sql`](https://golang.org/pkg/database/sql/) would be ideal, where the package imported by other libraries is just a "headers only" style of interface/interaction, and the drivers are imported only by the final `main.main` application.

In doing thi

[2017-04-28 17:29] mrunalp opened #44 "Support mixed mode"
We should be able to support spawning containers with either overlay or devicemapper. This will support use cases where containers ask for a posix compliant filesystem through a k8s annotation via cri-o.

[2017-06-08 21:59] nalind opened #61 "Add support and tests for limiting disk usage"
The overlay driver doesn't have any notion of limiting disk usage, and the devicemapper driver lets us specify the size of the thin pool device, but not much more.  We should explore implementing a more uniform (and uniformly enforceable) way of managing disk usage, and of putting upper bounds on how much space a container can use.

CCing @mrunalp, who I'm hoping has better insight as to what cons

[2017-06-23 12:06] rhatdan commented on #61
@rhvgoyal Has thoughts about this I believe.  I think we can do somethings with xfs to limit size on overlayfs

[2017-06-23 12:06] rhatdan commented on #29
Is this still an issue, or can we close this?

[2017-06-23 12:07] rhatdan commented on #28
@erikh Are you still interested in this?

[2017-06-23 12:08] rhatdan commented on #16
@nalind I believe we have cleaned a lot of this up, can we close this issue?

[2017-06-23 12:09] #5 closed

[2017-06-23 12:12] rhvgoyal commented on #61
docker has a pending patch to limit size of container using xfs project quota with overlay graph driver. Its worth looking at it.

https://github.com/moby/moby/pull/32977

[2017-07-11 14:11] rhatdan opened #76 "when pulling an image by tag we need to always store the digested reference along with the tag (same as docker does)"
@nalind @mtrmac here's the situation:
    when pulling an image by tag we need to always store the digested reference along with the tag (same as docker does)
    we don't have a RepoDigests for ImageStatus and we just fill RepoTags with status.Names which just contains tagged references for that image
    (guess what) we need RepoDigests slice
    digests must not be stored and shown as the ID of

[2017-07-11 14:11] rhatdan commented on #76
Copied from kubernetes-incubator/cri-o#531

[2017-07-11 14:20] mtrmac commented on #76
To be a pest, is there a _specific reason_ why is this necessary? Not that using the docker-like behavior is _bad_, it’s just not the obviously only possible way to organize things. Is the motivation only to exactly what Docker does, whatever it is, or is there a specific use case which needs to work, or a design issue which is best solved by doing things this way?

FWIW a separate `RepoDigests` f

[2017-07-12 12:44] #16 closed

[2017-07-17 20:12] rhatdan commented on #76
@runcom WDYT

[2017-07-17 22:15] runcom commented on #76
@mtrmac @rhatdan we need this to reach feature parity with Docker when working with CRI-O and Kubernetes. I'm fine if we have this as a knob that cri-o uses, we just need it to match dockers behavior.

[2017-08-01 21:17] 14rcole opened #82 "archive.Changes() does not correctly show diffs between two unrelated layers"
If archive.Changes() is called and the two layers provided to it are not directly related (e.g. a layer and it's parent or grandparent), Changes() will provide the diff of the layer from its parent as opposed to the diff of the two layers.

This could be problematic in cases such as comparing two images with the same parent in order to determine their differences.

[2017-08-11 20:11] aweiteka opened #84 ""Does not support overlay" intermittent error"
When running cri-o integration tests on F25 I sometimes get an error that overlay is not enabled in the kernel:

[code]

I haven't reproduced this when overlay is manually enabled before running. [More details here](https://paste.fedoraproject.org/paste/T3bF-chLII7ujSsk9VeopA).

Speaking to @rhatdan he suspects the 'supportsoverlay' function is racing through too quickly: https://github.com/contai

[2017-08-11 20:38] rhatdan commented on #84
@nalind @aweiteka and I just looked at this and I think it might be a race condition in the test to see if overlay is supported.

I believe below that the /proc/filesystem can be read before the modprobe overlay completes?
[code]

[2017-09-06 23:15] mgoltzsche opened #96 "Make the store work for unprivileged user"
Unfortunately this library cannot be used by unprivileged users since mounting is not permitted.

As a workaround for use cases where there is no root access a simple driver should be added that works without actually mounting anything (accepting poor performance).

[2017-09-06 23:32] mrunalp opened #97 "Support quota for overlay2"
We need to support quota support to limit containers in overlay2 with xfs similar to docker.

https://github.com/moby/moby/blob/8af4db6f002ac907b6ef8610b237879dfcaa5b7a/daemon/graphdriver/overlay2/overlay.go#L202

@nalind @rhatdan

[2017-09-06 23:36] mrunalp commented on #97
cc: @runcom

[2017-09-07 07:12] runcom commented on #97
:+1:

[2017-09-08 13:10] rhatdan commented on #96
@nalind Does vfs support this mode?

[2017-09-08 17:38] nalind commented on #96
Not currently - the remounting of the runroot at startup happens regardless of which driver we're using.  If we dropped that, and with the right UID/GID mapping (so that when we explode layers onto disk, we don't fail to fix up permissions), I think it would.

[2017-09-08 21:34] mgoltzsche commented on #96
That would be great and with vfs this could be the very basic solution for this issue.

Ideally I had a mtree-based driver in mind that would work like https://github.com/openSUSE/umoci but I see now that this only makes sense for unprivileged users after the remounting outside the driver is dropped.

[2017-09-08 21:39] rhatdan commented on #96
Adding support for ostree might be interesting also.

[2017-09-09 02:37] cyphar commented on #96
@mgoltzsche Yeah, `umoci` does this already (as well as having built-in support for rootless containers :wink:). In addition to removing the remounting code, and verifying that the permissions are set up properly, you'd also need to handle a lot of `CAP_DAC_OVERRIDE` edge-cases. I made a library (`github.com/openSUSE/umoci/pkg/unpriv`) that transparently emulates `CAP_DAC_OVERRIDE` in userspace fo

[2017-09-12 14:45] TomSweeneyRedHat opened #101 "Bad error when multiple graphdrivers are available."
I installed a fresh Fedora 26 vm and then did the setup listed in the CRI-O README.md.  I then also installed golang 1.9 as the v1.7.6 that comes with Fedroa26 is not suitable.  After building and installing CRIO I ran:

[code]

However -s is not an option for kpod.  Does it need to be added there or do we need to update the error message?  Beyond that it would be nice to not see the entire stack

[2017-09-12 15:23] rhatdan commented on #101
We need to change the default for CRI-O to overlay not overlay2.  I have a long outstanding pull request to fix this, but can never seem to get the tests to pass.

[2017-09-12 20:29] umohnani8 opened #102 "Locking bug in store.go"
There is an issue with the store lock that came up while refactoring libkpod to libpod.
https://github.com/containers/storage/blob/master/store.go#L1261 uses `stores` instead of `ristores`, thus it is trying to lock a store that has already been locked.

[2017-09-12 20:29] umohnani8 commented on #102
@nalind PTAL

[2017-09-12 21:20] rhatdan commented on #102
@umohnani8 Open a pull request.

[2017-09-12 23:25] #102 closed

[2017-09-13 09:58] redbaron opened #104 "Pull fixes from moby/storage"
Sorry if I misunderstand intention of this project, looks like it is aiming to implement docker features in a docker-independent way, yet it reuses a lot of docker code.

There were few fixes done do docker graphdrivers year ago, which I can find in a current codebase, which is worrying, how this project is meant to be supported and go forward?  If there is no development resources allocated to ev

[2017-09-13 13:14] rhatdan commented on #104
How timely.  We have been working on forward patching stuff from moby this week.
https://github.com/containers/storage/pull/98
https://github.com/containers/storage/pull/105
https://github.com/containers/storage/pull/100

So yes we plan on staying up to date with any changes/bug fixes there.

[2017-09-13 13:15] rhatdan commented on #104
Right now we have been concentrating on Overlay driver (overlay2 in Moby).  But we plan on adding more support for devicemapper and perhaps replacing it with a new lvm based driver going forward.

[2017-09-15 20:05] mgoltzsche commented on #96
After digging a little deeper into the storage `Store`/`Driver` interfaces I realized it is tricky - if not impossible - to be implemented efficiently using mtree. For my use case (image build) a simpler interface with a `Commit` method is more suitable to take advantage of mtree.

@rhatdan ostree might be interesting indeed.

@cyphar thanks for the update. I'll definitely have another look at umo

[2017-09-15 21:37] cyphar commented on #96
@mgoltzsche I have been talking to @hallyn about potentially having something like `umoci revert` which will allow you to do some more complex operations efficiently (it would generate an index from the layers to be able to efficiently look up the blob data).

[2017-10-03 14:49] nalind commented on #97
Closing by #98.

[2017-10-03 14:49] #97 closed

[2017-10-13 11:56] runcom opened #122 "consider using a binary format instead of json"
Not sure the various json files must be user friendly so take this lightly. But, as since is super slow (and requires hacks like #121) I would love to switch to something binary-ish.

@rhatdan @nalind is this something we can consider? This will speed things up for sure.

[2017-10-13 12:46] rhatdan commented on #104
These have been all back ported, I believe.

[2017-10-13 12:46] #104 closed

[2017-10-13 12:47] rhatdan commented on #101
This has now been fixed in crio and all other tools.

[2017-10-13 12:47] #101 closed

[2017-10-13 13:10] rhatdan commented on #61
Overlay now supports quota.

[2017-10-13 13:10] #29 closed

[2017-10-13 13:10] #28 closed

[2017-10-13 15:52] nalind commented on #84
`Run()` is documented to wait for the child process to exit before it returns (compare to using `Start()` and `Wait()`), so I don't think that there's a race condition in here.

[2017-10-18 14:33] nalind opened #127 "pkg/mount.Mounted() gets false positives on hidden mounts"
The implementation of `Mounted()` in `pkg/mount` doesn't take into account the possibility of the location that it's checking having been mounted, and then another filesystem having been mounted over one of its parent directories.  When that happens, the checked location is still listed in `/proc/self/mountinfo`, but subsequent attempts to manipulate mount flags or unmount it will fail.

The [solu

[2017-10-18 20:12] rhatdan commented on #84
Well I will close https://github.com/containers/storage/pull/123 and see if this happens to anyone again.

[2017-10-18 20:12] #84 closed

[2017-12-13 14:23] zeigerpuppy opened #143 "ZFS Support"
Is there a plan to support ZFS as a storage layer?  It would be great to use the built in COW features for kubernetes based storage.

[2017-12-13 15:50] rhatdan commented on #143
I believe the ZFS storage layer should work now, if it does not open up an issue and better yet a PR to fix the problem.  But as far as "support", you get what you pay for. :^)

[2018-01-05 20:24] mrunalp opened #145 "Manifest does not match provided manifest digest SHA"
I saw this while testing with busybox:1.24 image in crio:
[code]
cc: @runcom @rhatdan

[2018-01-05 20:25] mrunalp commented on #145
kubectl.sh run myshell -it --rm --image=busybox:1.24 -- sh

[2018-01-05 20:38] nalind commented on #145
Which version of cri-o is it?  Which image with digest `sha256:3181b2fff8cbdefa2302a04b1eb2273251749e9320d0083b807d32e9f0e18961` is it trying to use?

[2018-01-05 20:40] mrunalp commented on #145
crio is from couple of days ago (close to master). Trying to use busybox:1.24 from docker.io.

[2018-01-05 20:41] nalind commented on #145
That tag corresponds to digest `sha256:8ea3273d79b47a8b6d018be398c17590a4b5ec604515f416c5b797db9dde3ad8`, so it must be one of the other ones on the system.

[2018-01-05 20:58] nalind commented on #145
If your local copy of the image predates some of the changes we merged in https://github.com/kubernetes-incubator/cri-o/pull/1116, then you may need to delete it and pull it again.

The digest of its v2s1 manifest is not simply the digest of a file that contains it, and when building an ImageRef, we use the value for the manifest's digest that's provided by the storage library.  The storage librar

[2018-01-05 21:17] mrunalp commented on #145
okay, I'll try that out. Thanks!

[2018-01-19 19:30] wking opened #148 "Add build tags for toggling drivers (e.g. disabling devmapper when you won't need it)"
I was building CRI-O (which vendors containers/storage) on a Gentoo box without libdevmapper, and the build crashed with:

    No package 'devmapper' found

I'd rather not install a new library just to build a package I'll never use (I'd be using the btrfs driver).  Folks using the devmapper and not the btrfs driver may feel the same way in reverse, etc.  It would be nice if these various dependen

[2018-01-19 19:33] wking commented on #148
Ah, looks like there's already an `exclude_graphdriver_devicemapper` :).

[2018-01-19 19:33] #148 closed

[2018-02-16 11:00] redbaron opened #151 "backport recent copy_file_range changes from moby"
Refs:
 - https://github.com/moby/moby/pull/34670
 - https://github.com/moby/moby/pull/35537

[2018-02-25 12:56] giuseppe commented on #96
I am trying to run "vfs" in an user namespace, and I see this error when I try to commit the image:

[code]

Does it depend from https://github.com/containers/image/pull/305 ?

[2018-03-01 15:24] nalind commented on #96
@giuseppe That message was introduced in https://github.com/containers/image/pull/305, so the tool that produced it already includes a later version of the image library.

[2018-03-01 15:31] giuseppe commented on #96
@nalind yes, I meant if it was introduced by https://github.com/containers/image/pull/305

To track better this problem, I've opened a new issue here:

https://github.com/projectatomic/buildah/issues/502

[2018-03-12 20:38] #143 closed

[2018-03-12 20:39] rhatdan commented on #127
@nalind Is this something for an intern to work on this summer?

[2018-03-13 21:08] nalind commented on #127
Sure.

[2018-03-15 16:07] mtrmac opened #160 "github.com/containers/storage/pkg/archive does not compile on macOS"
This is weird.

on macOS:
[code]
https://github.com/containers/storage/pull/141 adds a caller into the generic code, and a definition to `changes_linux.go`.

The thing is, I can’t see any directive making `changes_linux.go` conditional, so AFAICT it should be building on macOS as well, and available to be called.

[2018-03-15 16:11] mtrmac commented on #160
Just copying the `isENOTDIR` definition from `changes_linux.go` to `changes_unix.go` works around the build failure, so `changes_linux.go` really seems to be conditionally compiled, I just can’t see how.

[2018-03-15 16:16] mtrmac commented on #160
… ah:

[2018-03-15 18:22] #160 closed

[2018-03-22 18:19] cevich opened #164 "Tests w/ go 'stable' fails"
I'm guessing that, at some point, it will become desirable to support newer versions of go, so I'm preemptively opening this issue :smile:  The test-failure should be reproducible by executing ``hack/run_ci_tests.sh`` locally.  In travis, it's done by un-commenting this in ``.travis.yml``:

[code]

I can't quite tell from the output exactly what the problem is, the build appears to complete succes

[2018-03-28 18:02] cgwalters opened #165 "Doesn't support /var/lib/containers/storage as a symlink?"
I try to separate my "OS partition" and my `/var/home` from my `/srv` (really `/var/srv`) which has things that I can rebuild or redownload from the Internet. Things like my git repositories as well as VM/container images.

Today I have:
[code]

Which works fine.

I tried the same with:
[code]

But now I get:
[code]

However, a bind mount does work.

[2018-03-28 18:02] cgwalters commented on #165
Migrated from https://github.com/projectatomic/libpod/issues/562

[2018-06-19 07:01] vrothberg opened #189 "improve error messages"
This issue is based on a discussion from https://github.com/projectatomic/libpod/issues/956. The underlying problem is that `Podman` doesn't print a user-friendly error message when, for instance, trying to run a container with the name of another one.

You may reproduce with the following commands:
[code]

Docker prints a more user-friendly message guiding the user to a potential conflict resolut

[2018-06-19 13:31] rhatdan commented on #189
@vrothberg Open a PR with an errors.Wrapf(ErrDuplicateName, fmt.Sprintf("the container name %s is already in use by %s.  You have to remove that container to be able to reuse that name." name, nameInUse)

[2018-07-04 13:18] Silvanoc commented on #61
@rhatdan Internally? Without using XFS? How? I could find a way to get it done.

[2018-07-05 09:43] Silvanoc opened #193 "Provide contacting information in README.md"
I'm looking for the best way to get in contact with this community and I cannot find that information anywhere in the project. I think it would be meaningful having this information available in the README.md.

Of course, I could just create an issue, but I'm not sure if it's the expected behavior also for generic questions. Even it that's the expected behavior, having that information in the READ

[2018-07-05 09:43] Silvanoc commented on #193
BTW, the same applies to containers/image.

[2018-07-05 10:49] rhatdan commented on #193
CONTRIBUTING.md provides some of this information. Perhaps we should link the README.md to this file to make it clearer.

[2018-07-05 11:14] rhatdan commented on #61
Only with XFS.

[2018-07-05 13:07] Silvanoc commented on #193
I should have found it myself :fearful:

[2018-07-05 13:08] Silvanoc commented on #193
@rhatdan thank you for the quick reaction! :+1:

[2018-07-06 10:11] rhatdan commented on #193
No Problem.  Welcome, and hopefully you will contribute to some of our projects.

[2018-07-06 10:11] #193 closed

[2018-07-12 14:16] Silvanoc opened #196 "Error in configuration example"
Current configuration example provides the [field `ostree_repo` under section `[storage.options.thinpool]`](https://github.com/containers/storage/blob/90d0a58ffabb324042e074d33d1f6fbf3185c789/storage.conf#L125), but it has to be in section `[storage.options]` to work.

[2018-07-26 18:46] vrothberg opened #202 "Q: Missing close on lockfile's fd?"
The CI in libpod is suffering some issues and one of them seems to be a growing number of open file descriptors. I am not familiar with the code of `containers/storage`, so consider this rather a question.

Having looked at the implementation of `lockfile` I am under the impression that `lockfile.Unlock()` should also close the fd here: https://github.com/containers/storage/blob/master/lockfile_un

[2018-07-26 19:15] vrothberg commented on #202
@mheon explained the reasoning behind. Closing.

[2018-07-26 19:15] #202 closed

[2018-07-27 14:00] Silvanoc commented on #196
Running `containers-storage` with the provided configuration results in following output:
[code]

Moving the `ostree_repo` value to the section `[storage.options]` results in following output:
[code]
which clearly reports the usage of OStree on Overlay2.

[2018-07-27 14:02] Silvanoc opened #203 "Report unsupported configuration options"
Providing the option `ostree_repo` in a section where it's not supported (`[storage.options.thinpool]`) is being silently ignored without reporting neither a warning nor an error.

See issue #196 for an example.

[2018-07-27 14:16] giuseppe commented on #165
I think the error is coming straight from runc that doesn't like symlinks in the rootfs.  In podman we needed https://github.com/projectatomic/libpod/commit/7e3c0d493e1afbae284071643d1a46c571776a04 for solving the same issue with rootless containers on CoreOS

[2018-07-27 14:21] rhatdan commented on #165
@giuseppe Could you open a PR for buildah to fix this.

[2018-07-27 14:37] giuseppe commented on #165
the new intermediate mount namespace seems to solve the error for Buildah, the symlink is solved when the bind mount is created.  @cgwalters are you still seeing this error with an updated buildah?

[2018-07-31 09:28] Silvanoc commented on #196
Fixed with commit 9f0144d

[2018-07-31 09:28] #196 closed

[2018-07-31 09:31] Silvanoc commented on #196
I just got my company clearance and wanted to submit a PR fixing it, to find out that @giuseppe already had :smile:

Next time I'll submit a PR fixing it, since I now have the clearance from my company to do so.

[2018-08-09 14:51] bhperry opened #207 "Support symlinks to devices"
Feature request:

Resulting from this issue I posted on CRI-O: https://github.com/kubernetes-incubator/cri-o/issues/1727

It would be really nice if `checkDevAvailable` in https://github.com/containers/storage/blob/932e49f1debc6fbc0e3e8d96f83bdc7d496a0909/drivers/devmapper/device_setup.go could evaluate symlinks. Since nvme device ordering is not guaranteed and I'm already doing the work to match

[2018-08-22 08:50] vrothberg opened #209 "Improve documentation of containers-storage.conf(5)"
I started working on improving the CRI-O docs (see https://github.com/kubernetes-incubator/cri-o/issues/1747) and am about to reference `containers-storage.conf(5)` to avoid redundancy among manpages and to have a reference for details about all storage drivers and options.

I think that the `containers-storage.conf(5)` should be improved to reflect the current state of `containers/storage`. I am

[2018-08-22 08:51] vrothberg commented on #209
The manpage also states to be `storage.conf(5)` which might be a relict from the past.

[2018-08-22 12:31] rhatdan commented on #209
mounts.conf is realy related to the secrets patch so it should go into libpod.

[2018-08-22 12:43] rhatdan commented on #209
Right we package up these man pages inside of containers-common.  But gather them from containers/image and containers/storage.

[2018-08-23 11:49] rhatdan commented on #209
Well we don't install those man pages and don't really support that executable.  I believe that executable is just for testing.

[2018-08-23 11:53] vrothberg commented on #209
That's not what the manpage states :( If that's the case, I'll remove that from our packages asap.

[2018-08-23 12:09] rhatdan commented on #209
We don't even ship a container-storage package.

[2018-08-23 12:11] vrothberg commented on #209
We do, mostly because of the `storage` binary. We have a libcontainers-{common,image,storage} but I am more and more convinced that everything can go into libcontainers-common.

[2018-08-23 12:12] rhatdan commented on #209
Yup.

[2018-10-03 15:46] vrothberg opened #218 "Make Images aware of repos and tags"
containers/storage identifies images by names (strings). This allows fast lookups but it breaks compatibility with Docker.

For instance, when pulling a newer image via `podman-pull` or when over-tagging an image via `podman-tag`, the repository and the tag of the image will be lost and reported as ```<none> <none>```. Docker will only remove the tag but keep the repository data (e..g, `alpine <no

[2018-10-03 16:06] mheon commented on #218
I'll add @mtrmac to this one as well, considering his work on images and c/image.

[2018-10-03 16:10] mtrmac commented on #218
I’m not quite sure what the benefit of (`alpine` repo, unknown details) is — but there is definitely a problem in that images store a single “manifest digest” value, whereas a single image object may be pulled from many different repositories and many different repo@digest values; we need to store all of them, and be able to look up by all of them. Assuming that, (repo, manifest digest) is a super

[2018-10-04 11:14] vrothberg commented on #218
Docker compatibility. I assume that the reasoning behind was to keep repo as only the tag needs to be overwritten. Personally, I find it a bit more user-friendly.

@nlind, is @mtrmac's assumption correct?

[2018-10-15 19:38] mskarbek opened #221 "Support fuse-overlayfs on ZFS"
`fuse-overlayfs` seems to work fine on a ZFS dataset when tested manually yet `podman` refuses to use it when home directory is set up as a ZFS dataset and `fuse-overlayfs` is configured to be used in rootless mode. `podman` insists on using VFS storage backend in that case:
[code]
What needs to be done to enable that use case?

[2018-10-15 20:16] mheon commented on #221
@giuseppe PTAL

[2018-10-15 20:17] rhatdan commented on #221
This looks like we are attempting to use the systems overlay file system rather then fuse-overlay.  I think fuse-overlay is launched out of the overlay storage driver, so we might just need to move the check around.

[2018-10-16 07:52] giuseppe commented on #221
that should not be checked when using fuse-overlayfs.  How have you configured `podman` for using `fuse-overlayfs`?

[2018-10-16 09:35] mskarbek commented on #221
[code]

[2018-10-16 11:31] mskarbek commented on #221
After building `storage` with proposed patch:
[code]

[2018-10-16 11:45] giuseppe commented on #221
the best way to try it is to revendor it in podman.  You'll need to change podman vendor.conf file as:

[code]

then run `vndr` and use the updated containers/storage file for building podman.

Or simpler than that, you could apply directly the patch to `vendor/github.com/containers/storage/drivers/overlay/overlay.go` in the podman repository and build podman again.

[2018-10-16 12:19] mskarbek commented on #221
I have rebuild `podman` from master with `overlay.go` edited directly in `vendor` path. Seems that `storage` no longer complains about ZFS but I was unable to run container.
[code]

[2018-10-16 14:31] giuseppe commented on #221
hm.. that looks like a different problem now, I'd need to setup a ZFS to try that out.

Can you test manually something like:
[code]

do you see the same problem?

[2018-10-16 17:16] mskarbek commented on #221
No, that works fine:
[code]

[2018-10-16 18:47] giuseppe commented on #221
thanks, I'll try to reproduce here.  What kernel/distro are you using?

[2018-10-16 22:38] mskarbek commented on #221
@giuseppe dismiss that last issue, it was my fault (kernel 4.16.16, I assumed that all my test machines are up-to-date). That said on a freshly installed Fedora 28 with kernel 4.18.13 and rebuild `podman` I am still unable to run container but this time I got nothing from `podman` except exit code 139, running `./bin/podman run -it docker.io/library/fedora:28 bash` just exits.

[code]
I'm still us

[2018-10-17 11:49] giuseppe commented on #221
could you try with selinux disabled or running podman with --log-level=debug?

[2018-10-17 12:33] giuseppe commented on #221
yes that definitely looks like selinux blocking the access to fusefs_t

[2018-10-17 12:36] #221 closed

[2018-10-17 12:38] rhatdan commented on #221
Looks like we need a new boolean.

[2018-10-17 12:39] rhatdan commented on #221
Never mind, already have one.

[code]
Now try it again.

[2018-10-17 12:45] giuseppe commented on #221
PR to update containers/storage in podman: https://github.com/containers/libpod/pull/1666

[2018-10-17 12:52] mskarbek commented on #221
@rhatdan great, that fixed the issue.

[2018-10-30 07:13] vrothberg commented on #218
Ping @nalind

[2018-11-07 12:52] vrothberg opened #231 "improve "open /etc/subuid: no such file or directory" error message"
Existing openSUSE deployments will run into the issue that /etc/sub{g,u}id are not present as no (base) package added those; useradd and usermod don't create those files. I've fixed this via the shadow package now adding those files so that new installs and new users have proper entries but that doesn't solve the issue for existing users.

In other words, existing users don't have this file and wi

[2018-11-07 15:33] qiancai opened #232 "RFE: tag the repo"
To make life easier to maintain packages in other distros, it was requested to tag the repo properly.

[2018-11-07 16:29] rhatdan commented on #232
@nalind What version would you like to start tagging with?  1.0?

[2018-11-09 09:40] runcom opened #233 "devmapper regression"
See https://github.com/kubernetes-sigs/cri-o/issues/1883 for more information, the range of commits which probably broke devmapper in CRI-O is:

[code]

68332c059 Merge pull request #216 from giuseppe/userns-restore-setuid-setgid
2df72f37c chown: restore SUID and SGID bits
1d49427fe Merge pull request #215 from nalind/create-error
2805a4374 layerStore.Put(): always check for Create() errors
02db7c

[2018-11-11 11:32] rhatdan commented on #233
How quickly can kata recreate the issue?  Can we start bisecting these to figure out exactly what PR broke Kata?

What is the exact symptom that kata is failing on ?

[2018-11-11 13:56] runcom commented on #233
I've asked them to do so and they're on it last time we spoke

It's an invalid argument thrown when unmounting the devmapper mount

[2018-11-12 12:29] rhatdan commented on #233
The only argument we ever give to unmount under devicemapper is MNT_DETATCH.
[code]
@rhvgoyal Could yo ulook in the kernel when does unmount return EINVAL?

[2018-11-12 12:56] runcom commented on #233
@chavafg @sboeuf this issue is tracking the regression from https://github.com/kubernetes-sigs/cri-o/issues/1883
Could you assist Dan?

[2018-11-12 13:34] qiancai commented on #233
Looks like same issues can be reproduced by podman then.
https://bugzilla.redhat.com/show_bug.cgi?id=1623944
https://bugzilla.redhat.com/show_bug.cgi?id=1625394

[2018-11-12 14:40] chavafg commented on #233
Hi
This can be reproduced very quickly, you just need to setup devicemapper for cri-o and then create and remove a pod.

I use this storage config on `/etc/crio/crio.conf`:
[code]

And then use these steps:
[code]

I'll try to check which of the commits here is the one that broke devicemapper.

[2018-11-13 21:45] chavafg commented on #233
So I revendored `github.com/containers/storage` to commit `124de6810ea8ab6b69e382af281eff2c214bf3e2`  in cri-o and everything worked correctly.
The next change is `46a8a1cddbd8486f12bbebc9ffcdd7f65e81b48f` from #198 and using this commit the issue can be reproduced.

BTW, I could also use podman to reproduce the issue:
[code]

I used this storage configuration for podman:
[code]

[2018-11-13 22:06] runcom commented on #233
so, reverting #198 altogether fixes your issue?

[2018-11-14 13:17] runcom commented on #233
This the only suspicious line I've found in #198 which is still unmounting w/o force (so leaving mounts behind) https://github.com/containers/storage/pull/198/files#diff-a281f22627802db5c62d316f5eac7a96R932

[2018-11-14 15:29] robmv opened #241 "Add reflinks suport to the vfs storage driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**

In order to speed up rootless container creation using the vfs storage driver, it could be possible to use reflinks when available, for example over Btrfs or XFS (with reflink enabled format), when creating the container tree. The speed of container creation is one the drawbacks of the vfs driver, since it has to cop

[2018-11-14 17:09] sboeuf commented on #233
@runcom which line? The link you provided does not specify any particular line or range.
I'm asking to make sure we're on the same page, and potentially @chavafg could confirm if this is the culprit.

[2018-11-14 18:13] runcom commented on #233
Here it is https://github.com/rhatdan/storage/blob/1075a73cac3054422c5cda2712ec5412eedce573/layers.go#L932

I doubt that can be the issue but it's the only place I see `Unmount(..., false)` and if you guys can reproduce, the better. I'll take another look at #198 to spot some flaw which could lead to this, always assuming #198 is the culprit.

@sboeuf @chavafg  could you guys try reverting that PR

[2018-11-14 18:18] sboeuf commented on #233
@runcom

Yes of course. @chavafg could you please try to set this line to `_, err := s.r.Unmount(s.id, true)`, recompile, and see if you can still reproduce?

I don't follow, @chavafg already confirmed that this PR was the problem. He did bisect and found that it was the one causing the failure.

[2018-11-15 09:55] runcom commented on #233
alright I may have found the issue, I'm running kata ci in crio to see if that's the issue, I'll open a PR here if that fixes the issue for Kata (https://github.com/kubernetes-sigs/cri-o/pull/1910)

[2018-11-15 10:50] runcom commented on #233
see https://github.com/containers/storage/pull/240 and https://github.com/kubernetes-sigs/cri-o/pull/1910 which are fixing this

[2018-11-15 10:54] runcom commented on #233
actually there seems to be yet another issue on top of my fixes:
[code]

[2018-11-15 15:29] #233 closed

[2018-11-16 11:44] rhatdan commented on #241
@giuseppe Done.

[2018-11-16 15:53] sandeen commented on #241
The XFS developer community would welcome any and all reports of success or failure with this reflink usecase.  Reflink is not yet on by default; we roll out new features very carefullly and deliberately:

1. Experimental
2. Optional
3. Default

The more feedback and testing we get in step 2), the more quickly and confidently we can move to step 3).

[2018-11-16 19:05] rhatdan commented on #241
sandeen we should turn it on in Rawhide so that you could get the feedback.  If there is no way for a mere mortal to turn it on, then it will not be tested.

I have been told that:

`mkfs.xfs in RHEL8 has enabled reflink by default since June 2018 / xfsprogs-4.17.0-1.el8`

So at least people playing with the Beta will be able to try it out, Now we need to fix containres/storage and get it merged i

[2018-11-16 21:43] sandeen commented on #241
When you do that and have some testing under your belt, please let me know.

Thanks,
-Eric

[2018-11-21 18:43] rhatdan commented on #232
I just created release v1.1.

[2018-11-21 18:43] #232 closed

[2018-12-02 13:14] abitrolly commented on #122
@runcom where do you expect the most performance improvements from this change?

[2018-12-02 13:19] abitrolly opened #248 "Move image storage from my home dir to /data/podman-images on separate disk"
My SSD space is over, so I want to move images to separate disk mapped as `/data` to `/data/podman-images`. Only images for now. And if containers won't need SSD performance, then move them to `/data/podman-containers` too.

Is that possible to implement/configure?

[2018-12-03 09:19] abitrolly commented on #122
I've just noticed that `containers.json` in `vfs` is minified. What is the performance penalty of storing it in readable indented format? Size is unlikely to the reason for dir that is measured in GB.

[2018-12-03 13:57] rhatdan commented on #248
Why not just bind mount or regular mount more storage on ~/.local/share/containers?

[2018-12-04 17:04] abitrolly commented on #248
As long as it doesn't require `sudo` and persists on reboot I am all ears to know how to do that.

[2018-12-04 17:19] rhatdan commented on #248
Well it would be required to be setup as root and then just added to /etc/fstab and it is good to go.

[2018-12-04 18:46] abitrolly commented on #248
`/data` from a separate disk is already writable in userspace, and it was kind of pain to learn all these mount flags that I already forgot. Of course. when my system fails to boot, I will get into single user mode, spin up manuals on my mobile and get this done, but as I am a fan of good UX, I'd wait for userspace solution.

[2018-12-05 08:54] giuseppe commented on #165
can this be closed?

[2018-12-05 09:35] giuseppe commented on #44
would be enough to do something like: https://github.com/containers/libpod/pull/1847 ?

[2018-12-05 09:36] giuseppe commented on #151
it is being addressed with: https://github.com/containers/storage/pull/246

[2018-12-05 15:17] #165 closed

[2019-02-01 16:20] sameo opened #280 "Building containerd snapshotters with containers/storage"
On one hand containerd [snapshotters](https://github.com/containerd/containerd/blob/master/design/snapshots.md) allow for building storage backends for the containerd project, while on the other hand CRI-O uses the `containers/storage` package to manage container images.

That causes implementation fragmentation (we're seeing divergent filesystem specific code pieces in the 2 projects, maintained

[2019-02-01 16:21] sameo commented on #280
cc @nalind @egernst @Random-Liu @sboeuf @mcastelino

[2019-02-01 16:23] sboeuf commented on #280
cc @crosbymichael @mrunalp

[2019-02-09 00:29] sboeuf commented on #280
@nalind out of curiosity, what's the status on the LVM driver implementation?

[2019-02-10 14:00] rhatdan commented on #280
@haircommander is looking into it, but he has just started.

[2019-02-28 19:25] mrunalp opened #292 "Add support for returning size and inodes for storage drivers"
We need efficient way of returning number of inodes and size used by entire storage without having to walk the tree if possible. This is needed for the CRI ImageInfo call.

@sboeuf

[2019-02-28 20:33] rhatdan commented on #292
@rhvgoyal Any ideas?

du --inodes -s .
du --sM .

Would seem to be the fastest way.

[2019-03-04 12:29] siretart opened #293 "Please avoid circular dependency on containers/image"
Background: I'm working on packaging buildah, podman and skopeo, and all necessary depednencies, for Debian.

commit https://github.com/containers/storage/commit/a6ca4fc7b40603b9b2f88f012365e2d583eba2da#diff-4061fcef378a6d912e14e2ce162a1995 vendors in containers/image. This creates a circular dependency because containers/image itself vendors containers/storage, which is unfortunate at best. I won

[2019-03-04 12:29] siretart commented on #293
@vrothberg and I have discussed the packaging project in depth before. Valentin, can you chime in and provide your perspective on this issue, please?

[2019-03-04 12:50] vrothberg commented on #293
Thanks a lot, @siretart, for bringing up the issue!

I think it's a good example of the differences between golang and traditional Linux packaging. The dependencies in golang are resolved on a package level, not on a project level, which happens quite frequently in the wild. There are other cases in our tools as well but @rhatdan is already on a crusade to untangle buildah and libpod.

In this spe

[2019-03-04 17:51] mtrmac commented on #293
Yeah, Go does not see c/strorage or c/image quite as an atomic unit.

In a somewhat flippant way of viewing the situation, from a packager’s perspective there’s not _that_ much difference between having three repos (c/image, c/storage, c/manifest) that are packaged into three dpkgs (one for each repo), and two repos (c/image, c/storage) that are packaged into three dpkgs (c/image without c/image/m

[2019-03-04 22:27] siretart commented on #293
Thanks for taking this concern seriously, I really appreciate your help on getting this resolved.

I understand that in golang, it is easy to specify dependencies on other repositories. That's a great thing, it's exciting to see this making people be more productive and producing great software. But just because something is easy to do, it doesn't necessarily translate to being a good idea. In thi

[2019-03-05 10:07] vrothberg commented on #293
@siretart, would it be possible to bundle containers/{image,storage} into one package (e.g., containers-libs)? This would avoid the circular dependency and may reflect the relation between the two repositories a bit more.

[2019-03-05 10:58] giuseppe commented on #241
done with 6c86fe70d3d66c2af054fade9a11bf54e8225673

[2019-03-05 10:58] #241 closed

[2019-03-05 11:05] mateuszkwiatkowski opened #297 "Fix build on FreeBSD"
Building skopeo on FreeBSD doesn't work because of errors in storage library.:
[code]
and
[code]

I'll follow-up with pull request that fixes these errors.

[2019-03-05 22:09] siretart commented on #293
We discussed this earlier today.

To answer the question, yes, bundling/merging containers/{image,storage} for packaging would be technically possible, and in fact wouldn't be unprecedented (e.g., in the docker.io packages, cf. https://sources.debian.org/src/docker.io/18.09.1+dfsg1-5/debian/README.source/ for details). However, this would require package maintainers to decide what versions of cont

[2019-03-05 22:13] mtrmac commented on #293
Well, (sadly) package maintainers are already forced to do that, when a single dependency (like the c/image+c/storage bundle being contemplated) is required, using different versions, in its users (buildah, podman, CRI-O, Skopeo).  I don’t see that the problem is really any easier or harder when bundling two dependencies our of many (while I appreciate that it may be _very_ hard).

[2019-03-05 22:18] mtrmac commented on #293
That’s a _very legitimate_ concern in general (c/image has so far not made any effort to keep the API stable), but not really a worry for this particular `manifest.Digest` call; that one is unlikely to break.

This is more indicative of “suboptimal (poor)” design of the manifest digest concept, forcing the storage layer (and transport mechanisms) to understand the manifest format only to compute t

[2019-03-05 22:18] rhatdan commented on #293
Personally I would like to keep these separate, since they are very different code bases and the knowledge of each is required.  We basically have different engineering teams concentrating on them.

[2019-03-06 13:44] vrothberg commented on #218
Closing as it does not seem relevant anymore.

[2019-03-06 13:44] #218 closed

[2019-03-06 14:05] robmv commented on #241
Thanks to everyone involved

[2019-03-08 09:44] rhatdan commented on #44
This is nothing in containers storage to prevent this now.

[2019-03-08 09:44] #44 closed

[2019-03-08 09:45] rhatdan commented on #61
We have quota built into storage now for both overlay and devicemapper.  CLosing.

[2019-03-08 09:45] #61 closed

[2019-03-08 09:46] rhatdan commented on #76
@nalind Did we ever do this?  Is this something still worth doing?

[2019-03-08 09:48] rhatdan commented on #231
Since the libpod patch was merged, I am closing this PR.

[2019-03-08 09:48] #231 closed

[2019-03-08 09:51] rhatdan commented on #82
@nalind Do you think this is still an issue?

[2019-03-08 09:52] rhatdan commented on #122
@nalind Do you still consider this an issue.  BTW libpod moved to a different json library should we move containers/storage to the same library?

[2019-03-08 09:52] rhatdan commented on #145
@mrunalp Is this still an issue or can we close this?

[2019-03-08 09:53] rhatdan commented on #96
This looks like it is fixed,  Closing reopen if this is still an issue.

[2019-03-08 09:53] #96 closed

[2019-03-08 09:55] rhatdan commented on #127
@nalind I take it we still have this issue?

[2019-03-08 09:56] rhatdan commented on #164
@cevich Can we close this issue since the above PR Got merged?

[2019-03-08 09:57] rhatdan commented on #203
@Silvanoc Is this still and issue?

[2019-03-08 09:57] rhatdan commented on #207
@nalind Do you think this is a good idea.

[2019-03-08 09:58] rhatdan commented on #209
Closing this because we have updated containers-storage man page and continue to.

[2019-03-08 09:58] #209 closed

[2019-03-08 09:59] rhatdan commented on #248
@abitrolly Are you all set with this?

[2019-03-08 10:00] rhatdan commented on #151
Since this was merged, I can close this issue.

[2019-03-08 10:00] #151 closed

[2019-03-08 10:01] rhatdan commented on #292
@nalind @mrunalp WDYT?

[2019-03-08 10:06] Silvanoc commented on #203
I'd have to test it, I don't have a current version of c/storage now available. I can have a look at it over the weekend.

If you have one, it's as easy as adding a valid, but not supported configuration to `storage.conf` and seeing what happens when starting libpod/buildah/skopeo... For example:
[code]

[2019-03-08 10:09] rhatdan commented on #293
Containers/image dependency in containers/storage has been removed.

[2019-03-08 10:09] #293 closed

[2019-03-08 12:46] rhatdan commented on #203
In that case you want an error or warning message?

[2019-03-08 12:48] Silvanoc commented on #203
I think that an error would be the most meaningful thing to do, but it would difficult the possibility of adding custom extensions.

In the end I don't have a strong opinion about either error or warning.

[2019-03-08 13:41] mtrmac commented on #76
Now that we actually store all the manifests, and a `repo@sha256:`_digest_ reference to the local image won’t break, yes, we probably should record this data.

[2019-03-08 16:25] #297 closed

[2019-03-08 17:35] #164 closed

[2019-03-08 17:56] rhatdan commented on #292
@mrunalp Do you need the size of the entire image or just the size of a layer?

[2019-03-11 15:10] nalind commented on #292
Running `du` under `strace` suggests that it's simply walking the directory tree and `stat()`ing everything, so we might not gain much by calling out to `du` instead of implementing a walk ourselves.

It looks like CRI-O needs the information for filling out CRI's [`FileSystemUsage`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L1169) field i

[2019-03-14 19:01] vbatts opened #305 "panic nil storageReference pointer on `podman import`"
(while migrating nspawn machines into podman containers)

### steps
[code]

### expected

successfully imported image

### encountered

[code]

### version

[code]

[2019-03-14 20:03] mheon commented on #305
Looks like `dest` is nil in https://github.com/containers/libpod/blob/master/libpod/image/image.go#L931

[2019-03-14 20:04] mheon commented on #305
@vbatts I think this is Podman, not c/image or c/storage - it looks like we're handing them a null pointer at some point

[2019-03-15 13:12] rhatdan commented on #305
It would be nice if github had a way to transfer issues from one project to another.

[2019-04-07 15:57] saschagrunert opened #316 "Possible integer overflow for IDMap parsing on 32bit systems"
Hey, I'm not sure if 32bit support is a thing for `containers/storage` so feel free to close if out of scope.

The function `ParseIDMap()` parses the G/UID triple and then cast the `uint32` results to `int`:
https://github.com/containers/storage/blob/ed97cd56f06fb41597db9f76f09b3105e52ed53a/pkg/idtools/parser.go#L47-L51

I tested the parser with a 32bit build and got a wrong result because `int` i

[2019-04-12 19:39] rhatdan commented on #37
Since it has been two years and know one has chosen to work on this, I think it is safe to close.

[2019-04-12 19:39] #37 closed

[2019-04-12 19:41] rhatdan commented on #82
After 1.5 years and no action, I am closing this issue.

[2019-04-12 19:41] #82 closed

[2019-04-12 19:41] rhatdan commented on #122
@mheon Should we move to the same image format you are using in libpod?

[2019-04-12 19:42] rhatdan commented on #127
Since it has been two years and no action, I am closing this issue.

[2019-04-12 19:42] #127 closed

[2019-04-12 19:46] mheon commented on #122
The problem with using `jsoniterator` here is compatability. `ffjson` does not serialize certain things in the same way that the Go standard library (and `jsoniterator` and `easyjson`) do - most notably for us was IP addresses, which serialized as strings for everyone except `ffjson`, which base64's the raw bytes. So we may encounter compatability issues in attempting to migrate.

This is actually

[2019-04-12 19:54] rhatdan commented on #122
Since it will be difficult to use, I guess we stick with what we got.

[2019-04-12 19:54] #122 closed

[2019-04-12 19:55] rhatdan commented on #145
Since no response I will take that as a yes I can close it.  @mrunalp Reopen if I was mistaken.

[2019-04-12 19:55] #145 closed

[2019-04-12 20:08] rhatdan commented on #203
I don't see a way to do this with toml library we are using, so closing.  I think we would have to move to a different library and no one is willing to go through the effort.

[2019-04-12 20:08] #203 closed

[2019-04-12 20:09] rhatdan commented on #248
Closing for lack of activity.

[2019-04-12 20:09] #248 closed

[2019-04-12 20:10] rhatdan commented on #292
@mrunalp Can you help answer @nalind questions?

[2019-04-12 20:10] #305 closed

[2019-04-12 20:12] rhatdan commented on #316
We want to support 32 bit arches with containers/storage.
@saschagrunert @giuseppe @nalind How would you suggest we fix this?

[2019-04-15 06:47] saschagrunert commented on #316
I would let the API stable and add an additional overflow check before casting.

[2019-04-15 13:20] rhatdan commented on #316
@saschagrunert Could you open a PR?

[2019-04-17 07:01] #316 closed

[2019-04-23 13:26] Silvanoc opened #323 "Documentation for usage of OSTree deduplication missing"
Thanks to [this comment in a test](https://github.com/containers/storage/blob/2f12336bf40037fd5c9b8aa2c50e362b7858bf83/tests/import-layer-ostree.bats#L40) I've discovered that the OSTree deduplication only applies to read-only layers.

The manpages of `container-storage` don't report any command or option to make use of it, but the option exists for commands [`create-layer`](https://github.com/con

[2019-04-23 13:28] Silvanoc commented on #323
I might help on the first three tasks, but not on the fourth until someone explains me how it's supposed to be used.

[2019-04-23 15:37] Silvanoc commented on #323
The current [last commit](https://github.com/containers/storage/commit/3da0b926c7ba5eca0f7144760e4f9fca8a2100be) from @rhatdan catch my attention, since it's also about non-writable storage.

Having a look at the tests, I'm puzzled since I cannot see in [`tests/store.bats`](https://github.com/containers/storage/blob/3da0b926c7ba5eca0f7144760e4f9fca8a2100be/tests/stores.bats) what makes `ro-root` b

[2019-04-23 19:07] rhatdan commented on #323
They are just additional stores, and we are not really making them read-only.  They just would never be written to containers-storage.  My goal is to allow us to build a container images owning buildah that can be run in a container and share the container-storage on the host, but write to a separate location.

This PR Shows how the buildahctr will be built.

https://github.com/containers/buildah/

[2019-04-23 21:26] Silvanoc commented on #323
@rhatdan thanks for the quick answer!

Pretty much what I had supposed, but it's good to have the confirmation. So it doesn't have anything to do with this issue.

[2019-04-25 06:27] sunnychanwork opened #327 "overlay storage driver doesn't support Windows Subsystem for Linux's lxfs"
see https://github.com/containers/libpod/issues/3000

The storage driver was trying to mount overlay on WSL's lxfs but it was unable to do so:

[code]

Notice that overlay fs does work under WSL:

[code]

[2019-04-25 13:22] rhatdan commented on #327
@nalind Any ideas? Are we adding additional arguments to the tests?

[2019-04-25 17:17] nalind commented on #327
When we fell through to the single-lower test, which lets us be discern whether the multi-lower test failed due to a lack of multi-lower support and not just a general overlay-not-working-on-the-lower-fs error, we were attempting the single-lower test incorrectly.  #328 corrects it.

[2019-04-25 17:22] nalind commented on #327
This suggests that the WSL overlay filesystem doesn't support using multiple lower directories for a single mount.

[2019-04-25 17:37] #327 closed

[2019-04-25 17:37] rhatdan commented on #327
Well at least it does not if you don't specify an upper directory.

[2019-04-25 17:37] rhatdan commented on #327
Looks like we had a bug anyways.

[2019-04-25 17:46] rhatdan commented on #323
@Silvanoc Please open PRs to fix the first couple.  I will leave it up to @nalind TO answer the last one.

[2019-04-25 20:37] Silvanoc commented on #323
@rhatdan do you mean with couple two or three?

WRT the 2nd one, I wouldn't document `create-layer --readonly` until having clarified the 4th one. I still see the possibility that option `--readonly` doesn't have any impact on `create-layer`...

[2019-04-26 07:44] Silvanoc opened #329 "Wrong manpage name for configuration file"
Manpage for `storage.conf` is being built as `container-storage.conf.5` (notice the missing **s** after `container`), but it should be `containers-storage.conf.5` for consistency with the whole project naming.

[2019-04-26 11:02] #329 closed

[2019-04-29 09:19] Silvanoc opened #331 "OSTree doesn't deduplicate and breaks deduplication"
I was expecting OSTree to be used for file deduplication in the layers, when configured. But it's not working properly (or I have fully wrong expectations).

My expectation was that the files in the `diff` of a readonly layer are a `checkout` of the OSTree repository (becoming hard-links to it). But it isn't so, they are just **copies** of it.

As a consequence:
* there is no deduplication among d

[2019-05-02 07:04] Silvanoc commented on #331
I'm coming closer to the root-cause of this issue...

The "inode index" feature that [appeared first on kernel 4.13](https://github.com/torvalds/linux/commit/02bcd1577400b0b2eab806ccb9f72d6b5ec7bcca) is missing on my kernel: 4.9. Therefore any 'copy up' is breaking the hardlinks from the lower layers.

The question is now if a 'copy up' (that IMO shouldn't be happening) is happening from an OSTree

[2019-05-03 12:55] Silvanoc commented on #331
Apparently there's an issue with the option **RequireHardlinks** not being honored by https://github.com/ostreedev/ostree-go in [processOneCheckout](https://github.com/ostreedev/ostree-go/blob/d0388bd827cfac6fa8eec760246eb8375674b2a0/pkg/otbuiltin/checkout.go#L80).
If I add following in there:
[code]
 I get following error message:
[code]

And I've then observed that `containers-storage` has creat

[2019-05-03 13:45] Silvanoc commented on #331
I got it! :tada:

I got bitten by the issue mentioned by @giuseppe in [this commit](https://github.com/containers/storage/commit/f3e7ee3c2ae02e95243dd0772903a48af52c5736) combined with the [issue 29 of ostree-go](https://github.com/ostreedev/ostree-go/issues/29) "hiding" it.

I'll add that information to the documentation that I'm writing within the scope of issue #323. Where I'm BTW still waiting

[2019-05-03 13:53] Silvanoc commented on #331
BTW in between I've upgrade to a kernel > 4.13, if not it wouldn't have worked due to the issue mentioned in https://github.com/containers/storage/issues/331#issuecomment-488571557.

[2019-05-04 14:39] Silvanoc commented on #331
Is there any reason why the OSTree shouldn't be placed as a subdirectory of *graphroot*?

[2019-06-06 17:00] dustymabe opened #359 "defaults for runroot in storage.conf"
Originally mentioned in https://github.com/containers/libpod/issues/3274. All information (system settings, versions) from that issue can be applied here.

On a fresh install of `podman-1.3.1-1.git7210727.fc30.x86_64` if I run rootless podman I end up with a  `~/.config/containers/storage.conf` file with `runroot = "/tmp/1000"` in it. This isn't the most unique directory name. Could we possibly ch

[2019-06-07 11:34] rhatdan commented on #359
I believe it is supposed to default to this, the issue was probably because you did this without setting up xdg_runtime_dir before executing.  IE Login as root and then su to a user or something like that?

If you blow away the file does it work correctly?

[2019-06-07 16:49] dustymabe commented on #359
**$this** being `/var/run/user/1000/containers/storage` ?

I started from a vanilla f30 cloud vagrant box and just did `sudo dnf install -y podman && podman run -it --rm registry.fedoraproject.org/fedora:30`

[code]

no

[2019-06-07 19:36] rhatdan commented on #359
Well this is a libpod issue, so we are in the wrong place.

[2019-06-07 19:41] dustymabe commented on #359
ahh - sorry about that. It's hard to know where to open an issue. Can you **transfer** the issue to libpod ?

[2019-06-07 20:11] rhatdan commented on #359
No you were right, it is in containers/storage.  Just opened a PR to fix it. PTAL

[2019-06-08 17:46] rhatdan commented on #359
This has been merged.

[2019-06-08 17:46] #359 closed

[2019-06-14 12:16] rhatdan opened #367 "Potential improvement over Naive Diff, from Email conversation."
AFAICS what happens when generating a layer is to start with a clean
upper layer, do some operations, then save the contents of the upper
layer.  If redirect or metacopy is enabled, then the contents of the
upper layer won't be portable.  So need to do something like this:

traverse(overlay_dir, upper_dir, target_dir)
{
    iterate name for entries in $upper_dir {
        if ($name is non-director

[2019-06-14 12:16] rhatdan commented on #367
@rhvgoyal FYI

[2019-06-17 20:33] rhatdan opened #368 "Improve overlay startup performance."
On every run of tools using container/storage overlay driver, we are running supportsOverlay function which does a whole bunch of processes in mounting of file systems.  Once this is done once we should not have to do it again until the next time the system boots.

Basically have driver create

/run/containers/storage/overlay/supportsDtype

/run/containers/storage/overlay/usingMetacopy

And then j

[2019-06-17 20:33] rhatdan commented on #368
@nalind WDYT?

[2019-06-17 20:33] rhatdan commented on #368
@baude WDYT?

[2019-06-18 09:17] vrothberg commented on #368
SGTM

[2019-06-18 18:52] nalind commented on #368
metacopy is controlled by configuration, which can conceivably change between runs (eek!), so I'm not sure about caching it.  If the goal is to skip the tests when we can, we'd want to distinguish between enabled/disabled/haven't-checked-yet, otherwise it's still going to be slower on systems where one or both features aren't available.  Otherwise, yeah, it sounds fine.

[2019-06-18 20:45] rhatdan commented on #368
Yes I was just thinking we would getattr on /run/containers/storage/overlay/metacopy, supportsDtype, overlay.
Then also check the date on the storage.conf file, if this is newer then the date on these files, then we recheck.

The reason we need this, is we are seeing tools like OpenStack that are constantly running podman commands, which take this hit on every start.  We see hangs in this code whe

[2019-06-20 17:41] #368 closed

[2019-06-21 13:39] saschagrunert opened #371 "'Layer not known' error on parallel image removal"
Relates to kubernetes-sigs/cri-tools#472

We discovered some flakyness when running critest in parallel. It seemed that an image we want  to remove already got removed by a parallel test, which should not be possible at all.

[2019-06-21 13:39] saschagrunert commented on #371
I'm not sure if anyone is already working on this.

/cc @nalind

[2019-06-21 18:57] rhatdan commented on #371
I don't think anyone is working on this.
The issue is an image was removed that currently had a container on it?  Or could this just be that multiple threads are trying to remove the same image?

[2019-06-21 19:07] saschagrunert commented on #371
I think it is the second one.

I will check if I can reproduce the issue within a single test these days.

[2019-06-24 07:52] vrothberg commented on #371
I concur with @saschagrunert. Multiple processes were removing the same image in parallel. My suspicion (did not look into the code yet) is that the 2nd process is blocked on the layer lock and is then trying to delete the layer which doesn't exist any more once the lock is acquired.

@saschagrunert, could you provide instructions to reproduce? I guess we need to add tests here in c/storage to mak

[2019-06-24 09:23] saschagrunert commented on #371
This is going to be fun: I can reproduce the issue on the current CRI-O master via:

[code]

At least this should trigger a failing test (in some cases), where the image :

[code]

[2019-06-24 10:54] rhatdan commented on #371
I guess we should ignore the error, if the image does not exists?

[2019-06-24 11:15] vrothberg commented on #371
I think that depends on the code path, but for deletion it makes sense to ignore "layer not known" errors.

[2019-06-24 11:36] vrothberg commented on #371
I'll spin up a PR.

[2019-06-24 12:23] vrothberg commented on #371
https://github.com/containers/storage/pull/374 could do the trick. I am still looking into how this can happen. The locks should protect against that case.

[2019-06-24 13:31] vrothberg commented on #371
The good news is that `store.DeleteImage` is fine. The issue comes from a TOCTOU triggered by multiple processes pulling and deleting simultaneously (see https://github.com/kubernetes-sigs/cri-tools/issues/472#issue-455696700).

Process P1 tries to pull image bar. P1 checks if bar's blobs are already in the storage and tries to reuse them later when committing the image. At the time of committing

[2019-06-24 13:35] mheon commented on #371
IMO, based on that, errors like this are better handled in CRI-O. So long as c/storage makes a consistent error return in cases like this, we can catch and discard any errors in the caller, preserving them in c/storage for cases where we do care about them.

[2019-06-24 13:38] vrothberg commented on #371
The problem is that the error does not occur during deletion but during pull, where we cannot discard the error as callers would be tricked into believing the image has been pulled successfully.

[2019-06-24 14:20] mtrmac commented on #371
Naively, in the ideal case I’d expect P1 to hold a “handle” / counted reference / something to the in-progress layer sequence, so that it is considered “busy” and P2 won’t be able to remove it. That “handle” could be a native c/storage object, or, maybe (very kludgy), an invisible image with a random name that points to the in-progress layer sequence as its `TopLayer`.

The only difficulty is with

[2019-06-24 15:53] vrothberg commented on #371
I thought about repurposing the digest locks from (https://github.com/containers/image/pull/611) but I believe it's just moving the TOCTOU problem to another layer as between a `pull A; run A` the image could again be deleted.

[2019-06-24 16:02] mtrmac commented on #371
Isn’t that something the Kubelet is fully in control of, though? (Maybe not, I have never read all of it.)

The Kubelet could, at least in principle, if it is not doing so already, track that an image is being pulled to be run, and just not issue a “delete A” CRI request in the meantime.

The Kubelet can’t quite do this for individual layers because it’s never told about them, or at least not duri

[2019-06-24 16:35] vrothberg commented on #371
I really don't know much about the Kubelet, so I am not sure if that's in scope of it or not.

An in-memory implementation sounds feasible in c/storage and comparatively quick to implement (please don't nail me to it).

But ideally, it should work across processes which reminds me of https://github.com/containers/image/pull/61. When pulling blobs, they can be marked as "being pulled" by locking di

[2019-06-25 18:47] mtrmac commented on #371
Ah, right, the “handles” can’t, for an ideal solution, be in-process-only because some other process using c/storage could come and delete apparently-unreferenced layers. That, together with the need to actually orphan the layers if the process pulling the image dies, does seem rather complex (similar to, but not quite the same as, containers/image#611, because that one focuses on exclusion / sequ

[2019-07-11 18:14] jwflory opened #383 "Add support for CernVM-FS graph driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

[CernVM-FS](https://cvmfs.readthedocs.io/en/stable/cpt-overview.html) (cvmfs) is a read-only, distributed filesystem with use cases specific to research / HPC computing. There is a [CernVM-FS graph driver](https://cvmfs.readthedocs.io/en/stable/cpt-graphdriver.html) for Docker that enable

[2019-07-11 19:58] rhatdan commented on #383
We would need a PR from someone with access to Cern VM-FS.  I am not sure if Fedora or Ubuntu has native support for this.

[2019-08-13 16:34] cevich opened #419 "CI Test Failure under updated kernel 5.x"
Steps to reproduce (using same VM images as master):

[code]

Everything works fine, including [the package install/update.](https://paste.fedoraproject.org/paste/uEMBW0XVfAbR2RD4GNQyfg)

[code]

[The tests pass as normal](https://paste.fedoraproject.org/paste/ZtRhNHrBQWsnOfNyLPLZyQ), then I execute `reboot`.  After waiting a minute, reconnect to the VM and execute tests a second time:

[code]

[T

[2019-08-13 18:34] cevich commented on #419
[code]

Conclusion:  Kernel /boot/vmlinuz-5.2.7-200.fc30.x86_64 is incompatible with c/storage and/or tests.

[2019-08-13 19:38] cevich commented on #419
On F29:

[code]

[2019-08-14 17:01] cevich commented on #419
@nalind @rhatdan PTAL, this is also blocking #418 and basically any future testing (if/when kernel is updated).

[2019-08-22 09:49] saschagrunert opened #420 "Allow `GetStore()` in read-only mode"
The idea is to retrieve an instance of the store in read-only mode, which for sure does not allow any modifications at all.

This would reduce the locking on the store where it is not necessary, for example when listing images.

Right now, it is not possible to execute two read-only operations like this:

[code]
and in a second shell:

[code]

Target of the implementation would be that the consume

[2019-08-22 10:02] vrothberg commented on #420
That should work - at least for containers/storage. In this specific example, when listing images, the image-storage is used read-only (see https://github.com/containers/storage/blob/master/store.go#L2810). The locks are then acquired read-only to allow for multi-reader, single-writer scenarios.

Did you strace which lock we're blocked on in the upper example?

[2019-08-22 10:10] vrothberg commented on #420
I can reproduce it locally as well. Maybe, we miss a reader lock in one code path in that scenario :( Great catch btw, @saschagrunert !

[2019-08-22 10:14] saschagrunert commented on #420
Yeah, in the above scenario it blocks there in containers/storage:
https://github.com/containers/storage/blob/69bcd96b85fe4fdda4a491cc279ff888522d9122/layers.go#L485
Which traces up to libpod `configureStore()`:
https://github.com/containers/libpod/blob/master/libpod/runtime.go#L1394

The internal `load()` function of the storage already required read access and therefore locks:
https://github.com

[2019-08-22 10:32] saschagrunert opened #421 "RFC: Partial storage locking to increase 'storing signature' performance"
This is more a rough idea and I'm wondering if you had any thoughts on this as well.
It relates somehow to https://github.com/containers/storage/issues/420

We're currently locking the whole containers, images and layers directories when doing write operations on the store. I think this could be improved by the penalty of a more complex locking mechanism.

The idea is to not lock the whole layer s

[2019-08-22 11:14] vrothberg commented on #421
@nalind, WDYT?

That's roughly related to a PR over at c/image (https://github.com/containers/image/pull/611) which does per-layer locking to avoid redundantly downloading a given blob. This PR isn't merged and I doubt we ever will but the conclusion regarding the layer-locks is that it is fine as long as those locks reside on a tmpfs (the amount of lockfiles could grow high over time).

My 2 cent

[2019-08-22 11:22] vrothberg commented on #420
If we did a `newROLayerStore(...)` we would acquire a RO store and use reader-locks which should unblock the `podman images` process.

The impact of this specific lock should be minimal. It's a short critical section needed to initialize the storage on disk. I don't think we can get rid of them.

[2019-08-22 11:23] vrothberg commented on #420
@nalind PTAL

[2019-08-22 11:30] vrothberg commented on #420
I'll take that back. The `layers.lock` may be held during the push entirely. (need to have a closer look)

[2019-08-22 11:32] rhatdan commented on #421
Be careful about creating to many files on tmpfs, I think we found a cache leak in the kernel based on number of files left in tmpfs.  @mheon would know the specifics.

[2019-08-22 11:48] vrothberg commented on #421
Ouch, yes that'll hurt. @rhatdan, any other way to do that? We need some way to clean them up.

[2019-08-22 11:50] rhatdan commented on #421
@vrothberg memory based locking?

[2019-08-22 11:55] vrothberg commented on #421
@rhatdan sounds complex in shared memory but possible.

One thing the afternoon coffee made me think is how could we migrate? Assuming we have fine-grained locking in place. How could we remain backward compatible? Other tools with older versions of c/storage might be running in parallel.

[2019-08-22 11:58] rhatdan commented on #421
Well they would still be taking the higher locks, so they could block the newer tools.  The newer tools could not block the older.
I guess it would be best to have a flag that would block the older tools from running.  But I am not sure we can do this.

[2019-08-22 12:05] vrothberg commented on #421
New versions could take the big lock as readers, this way old versions would block trying to acquire it as writers.

[2019-08-22 12:18] vrothberg commented on #420
I am under the impression that the pushing process monopolizes the lock where @saschagrunert pointed to (i.e., the `layers.lock` in `newLayerStore(...)`) which prevents the list process from acquiring it. It's very short lived but still monopolized.

Changing it to an RLock() makes it run in parallel. @nalind, is there any way we can avoid the writer lock here? `LayerStore`s are often-times used a

[2019-08-22 12:25] saschagrunert commented on #421
Sounds like a plan, I would still keep the locks close to the storage somehow. Would something like bbolt work out for this use case?

[2019-08-22 12:28] saschagrunert commented on #420
What do you mean with _short lived_? If I push then it blocks during the whole image push (which can be pretty long). During pull, it only blocks on "Storing signatures", which can also take longer time if the target image is large.

[2019-08-22 12:31] vrothberg commented on #421
@mheon will know. It's crucial that the locks are non-persistent (in contrast to the containers, image, layer databases etc.). Is that possible with bolt?

[2019-08-22 12:38] vrothberg commented on #420
Looking at https://github.com/containers/storage/blob/69bcd96b85fe4fdda4a491cc279ff888522d9122/layers.go#L485, the lock is unblocked at return of `newLayerStore`. That's why short-lived; the critical section is small.

I don't understand how this lock could be held entirely as it's being released at return of this function (see above) and acquired multiple times. The lock monopolization, however,

[2019-08-22 12:58] vrothberg commented on #420
During a push of `docker.io/library/gcc:latest`, strace shows 16 `openat`s on the layers.lock. Since the copy operation runs in parallel goroutines, the writer-locks within that process-space (at least in my theory) will get that lock in sequence and monopolize the `newLayerStore()`.

And I get 75 when listing images :eyes:

[2019-08-22 13:33] mheon commented on #421
As long as the DB lives on a tmpfs, sure - that'll wipe the DB on reboot. If you need something even less persistent than that, you can close your DB connection, remove the DB, and reopen, and that ought to resolve things.

[2019-08-22 13:38] saschagrunert commented on #421
I think we should still store the (let me call it) lock db on disk to allow multiple processed (buildah, podman) to be able to see if something is locked or not, right?

[2019-08-22 13:38] rhatdan commented on #421
Yes, I believe so.

[2019-08-22 13:42] mheon commented on #421
Hmmm. So in that case, you'd want to detect reboots, and then "unlock" all the locks?

Libpod does something similar (detect a reboot via a file in tmpfs disappearing, and then "refresh" the DB by clearing nonpersistent state). That might work?

[2019-08-22 13:42] vrothberg commented on #421
@mheon, I'd just put the entire DB on a tmpfs.

[2019-08-22 13:43] rhatdan commented on #421
I agree putting the DB on tmpfs would work.  Container/storage already relies on tmpfs for cleaning up mount counts.

[2019-08-22 13:51] vrothberg commented on #421
https://github.com/containers/image/pull/611 is placing the layer lock also on the storage tmpfs.

[2019-08-22 14:02] saschagrunert commented on #421
So if we speak in terms of boltdb, then the database would have three buckets for _layers,_ _containers_ and _images_, whereas the entries indicate (per id) if it's a read or write lock, right?

[2019-08-22 14:11] vrothberg commented on #421
I am not actually sure how we could implement process-locking with bolt. We still need file-locks, which makes me believe that we can follow the idea of containers/image#611 and put them in the storage's tmpfs and reference them by convention (e.g., layers in ./layer-locks, images in ./image-locks etc.).

[2019-08-23 08:41] saschagrunert commented on #421
Sounds also good, some additional questions from my side:
- Which file locks would we need additionally when trying to go via the database?
- How could the _convention_ look like, are we storing the locks per line or in some serialized hash map format?
- Would it be faster than a key value store?

[2019-08-23 09:04] vrothberg commented on #421
I assume we would need one lock to serialize accesses to the database (which would turn into a bottleneck). I would not know how to implement a synchronization mechanism in a database without reimplementing a mutex. That's why I feel more attached to just use file locking.

There is an open PR against storage to add a `flock` package (i.e., https://github.com/containers/storage/pull/378) which all

[2019-08-25 11:42] rhatdan commented on #419
Does this work on later fedora?  We can drop f29?

[2019-08-26 13:55] saschagrunert commented on #420
I took more time of investigating how the storage locking behaves and could not find any wrong behavior.

For example when pushing an image and parallel trying to list the images, then the push read-locks the storage for every layer, which is correct. The main issue I can see is that we need write-lock access to the storage on `Load()` and `Shutdown()`, which will be blocking for read-only operati

[2019-08-26 14:03] vrothberg commented on #420
That aligns with my findings in https://github.com/containers/storage/issues/420#issuecomment-523880465.

I have hopes that we can find a work-around to avoid acquiring the lock(s) as a writer but we need @nalind's pair of eyes to be sure.

[2019-08-27 05:41] abitrolly commented on #248
In case of bind mount is that the right sequence?
[code]
Adding to `fstab` for persistence. Is that correct?
[code]

Is it possible to extend existing dir with more storage without replacing it?

[2019-08-29 11:45] vrothberg opened #423 "make storage options driver-specific"
Currently the storage-options are shared among drivers while some do not support all of them. We have seen a couple of user issues caused by that for various reasons; a distribution may specify some defaults but the user chooses a different file system (e.g., btrfs) which will then break.

Background discussion: https://github.com/containers/buildah/issues/1825#issuecomment-526140018

[2019-08-29 19:53] cevich commented on #419
@rhatdan @nalind I remember someone said something like "this is failing because some layer isn't unmounting".  Any chance this is at all related to https://github.com/containers/libpod/issues/3870 (where I'm also dealing with an updated system encountering test-breakage)?

[2019-09-03 17:28] cevich commented on #419
update: this cannot be related to 3870 since we're not using podman-remote :confounded:

[2019-09-16 14:12] rhatdan commented on #423
https://github.com/containers/buildah/issues/1859

[2019-09-22 08:05] rkojedzinszky opened #433 "High memory usage during image pulls with cri-o"
With crio when pulling images, high memory usage is observed. With v1.12.14 memory usage is reasonable during an image pull, but with v1.13.1 it is really high. Please see https://github.com/cri-o/cri-o/issues/2847.

Bisecting shows https://github.com/containers/storage/commit/d85da313ef195ca827e3a17db9824971fbb6ec6e causes this.

[2019-09-22 08:26] vrothberg commented on #433
Thanks for tracking down the commit. How are you measuring the memory usage? Is it virtual or actually used memory? We had a similar issue over at Skopeo where Grafana seemed to report the memory usage incorrectly: https://github.com/containers/skopeo/issues/714

[2019-09-22 08:32] rkojedzinszky commented on #433
Hi, actually, just using gnu time binary. It reports maximum memory usage over process lifetime. Also, if I am quick enough, I can even see this using `top`. Basically, I've found that `tr.RawAccounting = true` causes this, as it is already documented that it might have performance/memory impact.
https://github.com/vbatts/tar-split/blob/master/archive/tar/reader.go#L30

[2019-09-22 08:51] rkojedzinszky commented on #433
So, forgot to answer, that is RSS memory, not just virtual.

[2019-09-25 08:47] vrothberg commented on #433
Opened https://github.com/containers/storage/pull/435 to fix the issue. Thanks a lot for tracking down the issue, @rkojedzinszky.

[2019-09-27 05:45] #433 closed

[2019-10-04 20:14] cevich commented on #419
Got frustrated and did some debugging, something is seriously broken with the BATS tests using newer VM images.  For example, using `hack/get_ci_vm.sh fedora-30-libpod-5816955207942144`:

1. If I run them via `contrib/cirrus/build_and_test.sh` they die here:
[code]

2. If I run just `tests/test_runner.bash` (what the Makefile does), the all run fine.

[2019-10-04 21:17] cevich commented on #419
...more manually running `tests/test_runner.bash` with various options.

Note: I moved `/etc/containers/storage.conf` out of the way (not sure it made a difference)

This seems to be the pattern on F30 (fully updated):

* `STORAGEDRIVER=overlay`
            Many / Most tests fail
* `STORAGE_DRIVER=overlay STORAGE_OPTION=overlay.mount_program=/usr/bin/fuse-overlayfs`
            Only `import-layer-

[2019-10-05 10:50] rhatdan commented on #419
fuse-overlay would indicate that overlayfs is broken. Are there any storageopts involved? metacopyup?

The import-layer-ostree I have no idea.  @giuseppe Any ideas?

[2019-10-05 16:34] giuseppe commented on #419
this seems like the correct configuration.

About the import-layer-ostree, that doesn't depend on overlay (you can see it also fails with vfs), could you point me to the test failure?

[2019-10-05 18:27] giuseppe commented on #419
I think we should just drop ostree deduplication.  It made sense when we were carrying the dependency from containers/image as it was used for system containers, but at this point the cost of having it is much higher than any benefit.  The feature never really took off, requires a specific configuration and has a lot of side effects.

Also when OCI v2 will be a thing, deduplication will surely be

[2019-10-07 13:37] #419 closed

[2019-10-07 14:27] cevich commented on #419
None at all, I even moved `/etc/containers/storage` out of the way.  In CI (using the new image) [the failure comes from this line](https://github.com/containers/storage/blob/master/contrib/cirrus/build_and_test.sh#L11).  Remember, this VM Image has a much newer kernel from what's currently used in CI.  Is it possible some kernel option default changed WRT what the tests expect?

[2019-10-07 21:45] chrisdostert opened #440 "OCI image-layout for image store dir"
This is more a question than anything else.

It seems like the image store directory is a custom format.

I'm curious if it's intentional to not use the OCI image-layout for this purpose? It seems like it would be a nice fit.

[2019-10-08 11:50] vrothberg commented on #440
The implementation was originally forked from Docker and predates the OCI format but supports storing images in various formats, so we need a certain degree of abstraction - same for the supported drivers. Maybe, the image store would be implemented a bit different today but changing it now would break backwards compatibility.

I guess that @nalind and @rhatdan can give a better background story t

[2019-10-15 10:13] rhatdan commented on #423
Patch has been merged.

[2019-10-15 10:13] #423 closed

[2019-10-16 00:07] onlyjob opened #444 "FTBFS@mips: cannot use s.Rdev (type uint32) as type uint64 in field value"
_mipsel_ is affected by the following FTBFS:

    github.com/containers/storage/pkg/system/stat_linux.go:11:3: cannot use s.Rdev (type uint32) as type uint64 in field value

https://github.com/containers/storage/blob/master/pkg/system/stat_linux.go#L11

This issue is similar to https://github.com/moby/moby/issues/28058
and the following patch should fix the problem:

[code]

[2019-10-16 19:34] rhatdan commented on #444
Can you open a PR to fix this?

[2019-10-16 22:12] onlyjob commented on #444
Maybe (eventually) but not soon...

[2019-10-22 19:31] nalind opened #447 "overlay: mount counter checks for overlay, even if we're using fuse-overlayfs"
When we're using `fuse-overlayfs`, we skip the is-supported test so that we can run on top of an overlay filesystem, but we may also skip mount attempts because when we ask the mount counter if a container's rootfs is mounted in `get()`, it returns true because that location is already on an overlay filesystem.

This is affecting people who try to run the `quay.io/buildah/stable:latest` image.

[2019-10-23 01:36] rhatdan commented on #447
Do you have a proposed fix?

[2019-10-29 10:45] elboulangero opened #450 "opts.go: build fails against docker 19.03"
[code]

These functions were removed in Docker `19.03`: https://github.com/moby/moby/commit/c334a87

It seems `ToParam` can be replaced by`ToJSON` as is, but the move from `ParseFlag` to `Args.Add`  seems to be a bit more involving. I'm reaching the limit of my Go knowledge already here...

[2019-10-29 10:47] vrothberg commented on #450
Hi @elboulangero, thanks for the report. We'll look into the issue and try to resolve it. Out of curiosity, how did you detect the issue?

[2019-10-29 10:54] elboulangero commented on #450
I package Docker for Debian, we have the version `19.03.4` in the experimental suite: https://packages.debian.org/experimental/docker.io

 Now we're at the stage where we spot broken reverse build dependencies (ie. packages that depend on docker, used to build against docker `18.09`, and fail to build against docker `19.03`), and try to fix it. That's the story :)

Thank for the quick answer (alth

[2019-10-29 10:59] vrothberg commented on #450
Great, thanks for reaching out!

No automated answer but the right caffeine level :) The dependency is small enough to just fork the package. I'll prepare a PR.

[2019-10-29 13:52] #450 closed

[2019-10-29 18:02] nalind commented on #447
We can skip using the `ctr` field if `mountProgram` is set, or we can teach it to check for a different filesystem magic value for those cases, or @giuseppe may have another option to suggest.

[2019-10-29 18:33] giuseppe commented on #447
I think checking for a different filesystem would be better.  I think it should be fine to assume it is a FUSE filesystem when `mountProgram` is used.

[2019-10-29 21:27] rhatdan commented on #447
@giuseppe Could you open a PR for this?  I think this is one thing that will break podman in podman.

[2019-10-29 21:58] nalind commented on #447
I'm okay with that, so long as it won't set up a problem for rootless-in-rootless, if we want to support that.  The magic value for FUSE is 0x65735546, FWIW.

[2019-10-30 08:53] giuseppe commented on #447
PR opened here: https://github.com/containers/storage/pull/453

I've tested it manually, and verified that it is possible to use a storage on top of overlay for the storage directory.

yes it will be a problem if we will want rootless-in-rootless, but for now it should not matter since fuse-overlayfs doesn't support running on top of fuse-overlayfs.

It could also be a problem if the storage direc

[2019-10-30 20:40] onlyjob commented on #444
Thank you.

[2019-10-31 14:02] #447 closed

[2019-11-01 08:51] rhatdan commented on #76
@nalind Time to work on this one?

[2019-11-01 08:52] rhatdan commented on #207
@bhperry Still interested in this/  Do we have it now?  Can I close this?

[2019-11-01 08:54] rhatdan commented on #292
Since there has been no movement on this  Issue by @mrunalp or @nalind I am going to close.  Please reopen if you feel we should work on this.

[2019-11-01 08:54] #292 closed

[2019-11-01 08:55] rhatdan commented on #323
@Silvanoc Do you still need this?  Is this something that we have done to you satisfaction?  @giuseppe @nalind WDYT?

[2019-11-01 08:56] rhatdan commented on #331
@Silvanoc is this still something you want?  Are you still working on it?  @nalind @giuseppe is this something we should pursue?

[2019-11-01 08:57] rhatdan commented on #367
@nalind @rhvgoyal @giuseppe @vrothberg Is this something we now have time to pursue?  Would potentially help speed up the building of container images.

[2019-11-01 08:58] rhatdan commented on #371
@vrothberg @mtrmac @nalind Is this still something we should pursue?

[2019-11-01 08:59] rhatdan commented on #383
@jwflory Is this still something you want to pursue?

[2019-11-01 09:00] rhatdan commented on #421
@saschagrunert @vrothberg Still something we want to pursue?

[2019-11-01 09:01] rhatdan commented on #420
@nalind @vrothberg @saschagrunert Anyone have time to pursue this?

[2019-11-01 09:03] rhatdan commented on #440
Yes the storage layer evolved and predates OCI by many years.  I would only be interested in a Redesign if it gaves us considerable improvements in performance of in size of storage.  Don't see the value in redesign for redesign sake.

[2019-11-01 09:03] #440 closed

[2019-11-01 10:33] saschagrunert commented on #421
Yes, but we're still waiting for feedback from @nalind :)

[2019-11-01 10:34] saschagrunert commented on #420
Yes, but we're still waiting for feedback from @nalind :)

[2019-11-01 10:59] vrothberg commented on #371
I think so yes but solving it across processes is tough. As @mtrmac mentions above, it has a similar nature to https://github.com/containers/image/pull/611 (i.e., the blob-copy detection PR). Tough to get it right. Let's leave this issue open.

[2019-11-01 11:16] vrothberg commented on #367
My November schedule tells me that I don't have time but it would be great to follow the idea and look into it :+1:

[2019-11-01 11:25] vrothberg commented on #421
Yes, definitely worth pursuing. Layer-locking is something we might need to generalize to cover other scenarios as well (e.g., pull-delete races, simultaneous pulls, etc.).

[2019-11-01 14:16] nalind commented on #331
Given #439, I don't think this is applicable any more.

[2019-11-01 14:50] bhperry commented on #207
Still haven't gotten around to testing, but looks like the linked MR covers it. I'd say we're good to close this.

[2019-11-01 14:50] #207 closed

[2019-11-01 15:01] #331 closed

[2019-11-02 12:54] jwflory commented on #383
@rhatdan Unfortunately it isn't something I'm able to work on right now, sorry!

[2019-11-03 09:43] rhatdan commented on #383
@nalind is this something we could handle?

[2019-11-04 08:45] Silvanoc commented on #331
After realizing that OSTree for deduplication is a dead-path within the different involved communities and the issues being faced at it, I'm not anymore interested on it. But thanks for asking!

[2019-11-04 08:51] Silvanoc commented on #323
As mentioned in [this comment](https://github.com/containers/storage/issues/331#issuecomment-549262794) to issue #331, I'm not pursuing the OSTree path for deduplication anymore.

We will have to rely on filesystem-deduplication (e.g. BTRFS) or the poorer layer deduplication on edge/embedded devices...

Should I close it?

[2019-11-04 13:21] rhatdan commented on #323
I will.

[2019-11-04 13:21] #323 closed

[2019-11-05 18:31] nalind commented on #420
I'm fine with that if it does the job without dramatically increasing the complexity of the code.

[2019-11-05 18:38] nalind commented on #76
I think the two reproducers work as expected at this point (since https://github.com/cri-o/cri-o/pull/1116 or so).  Please reopen if there's something still missing there.

[2019-11-05 18:38] #76 closed

[2019-11-05 19:42] nalind commented on #383
I'd have to do more research into it to be certain.

[2019-11-06 08:53] saschagrunert commented on #420
Alright, I will put this on my list of TODOs but may start after kubecon

[2019-11-07 01:57] SEJeff commented on #383
If it helps, we've got an ok from cvmfs upstream to package it for Fedora and maybe get it into EPEL. I won't be able to work on that for a month or more likely two but did plan on doing that. It is mostly just some c code and libcurl

[2019-11-07 12:59] rhatdan commented on #383
Sounds cool.  If anyone else wants to jump on this in the mean time, it would be appreciated.

[2019-11-11 08:57] onlyjob opened #462 "FTBFS@mipsel: mismatched types uint64 and uint32"
v11.13.2 [FTBFS on mipsel](https://buildd.debian.org/status/fetch.php?pkg=golang-github-containers-storage&arch=mipsel&ver=1.13.2%2Bdfsg1-3&stamp=1573456086&raw=0) as follows:

[code]

[2019-11-11 15:21] rhatdan commented on #462
Could you open a PR to fix this?

[2019-11-11 20:34] onlyjob commented on #462
I did not even look into how to fix that... I'm not confident enough in my Golang skills and desperately short on time. I won't be able to help here...

[2019-11-18 12:47] #462 closed

[2019-11-30 16:15] onlyjob opened #474 "please use reasonable line length"
Some files (e.g. [containers-storage.conf.5.md](https://raw.githubusercontent.com/containers/storage/master/docs/containers-storage.conf.5.md)) have insane line length which makes it needlessly difficult to diff or edit such files in some editors.

Please consider adopting a style with reasonable restrictions for maximum line length.

This is a best practice and common sense issue.

[2019-12-01 01:41] onlyjob opened #475 "1.15.1: FTBFS on [mipsel]: mismatched types uint64 and uint32"
[code]

[2019-12-01 12:07] rhatdan commented on #474
Please open a PR to fix the man pages format.

[2019-12-01 20:00] onlyjob commented on #474
I can do that but would the format be preserved? It was broken recently and that's why we might need a policy or a style guide to avoid such issues in the future.

[2019-12-02 06:15] rhatdan commented on #474
Well adding a test would prevent it from being broken again.

[2019-12-02 09:19] dependabot-preview[bot] opened #477 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/16603344).

[2019-12-02 10:47] vrothberg commented on #474
I think we need some markdown formatting tool for such enforcements. Do you know such a tool?

[2019-12-02 13:04] adrianreber opened #479 "Confused about Diff() and Changes()"
I guess I am confused by all the layers but I currently cannot find the right way to use `Diff()` when compared to `Changes()`. This is motivated by the podman bug report: https://github.com/containers/libpod/issues/4606

Looking at the documentation of `Diff()` and `Changes()` I see:
[code]

To checkpoint a container with the changes to the root file-system I am using `Diff()` to get a tarstream

[2019-12-02 14:00] #475 closed

[2019-12-02 15:48] rhatdan commented on #474
The difficulty here would be making sure that the man page when rendered in nroff as well as the markdown on a web site still look good.  I was playing with a tool to do this on Emacs, but it was adding extra spaces to make everything line up, and looked like crap.

[2019-12-03 09:17] #477 closed

[2019-12-09 11:53] giuseppe commented on #474
the Emacs fill-region command seems to work fine here.

We could script it:

[code]

(I've not tested the case where the markdown-mode package is missing, as it is already installed on my system)

[2019-12-18 07:16] adrianreber commented on #479
Closing this, as I worked around it in Podman.

[2019-12-18 07:16] #479 closed

[2019-12-23 00:22] ktock opened #498 "Support remote snapshotter for faster container startup"
Initially discussed on https://github.com/containers/libpod/issues/4739

Among the container's lifecycle, pulling image is one of the biggest(and well-known) performance bottlenecks on container startup processes. Research shows that time for pulling accounts for 76% of container startup time[FAST '16].

In containerd community, there is a discussion of a new image distribution strategy called [re

[2019-12-23 14:06] rhatdan commented on #498
Sure we would be interested in this.  @giuseppe PTAL

[2019-12-23 15:57] giuseppe commented on #498
yes we are surely interested in it and I've already worked on the lower level pieces.

It is still a PoC, but it seems to work fine at least with the images I've tried: https://github.com/giuseppe/crfs-plugin

Setting up fuse-overlays to use a remote image will require a command line similar to:

`# fuse-overlayfs -o fast_ino=1,lowerdir=//crfs/$(echo -n docker://localhost:5000/myimages/fedora:star

[2019-12-25 17:08] siscia commented on #383
Here from cvmfs team.

I am quite interested in making this happen and our friends in https://github.com/containers/storage/issues/498 seems to be interested as well.

Now the laboratory is close, but second week of January I will definitely take a closer look into this.

In the meantime, happy holidays everybody!

[2019-12-31 12:27] alexshkatov opened #503 "using the library on Windows"
I'm trying to use containers/storage, containers/image libraries on Windows platform.
The code complies successfully but fails to run.
Please advice. Is containers/storage supported on Windows? (I can't find any similar reported issue).

Here is a basic usage example:
[code]

[code]
go.mod:
[code]

[2019-12-31 13:42] rhatdan commented on #503
We theoretically support it, but I am not sure if anyone has used it.
@nalind PTAL

[2020-01-23 08:42] zhuguoliang opened #517 "[unit test] system.Lsetxattr failed"
How to repproduce?
` cd pkg/archive
go test -run TestOverlayTarUntar`

result:

    archive_linux_test.go:30:
        	Error Trace:	archive_linux_test.go:30
        	            				archive_linux_test.go:103
        	Error:      	Received unexpected error:
        	            	operation not permitted
        	Test:       	TestOverlayTarUntar
FAIL
exit status 1
FAIL	github.com/containers/storage/p

[2020-02-04 10:19] zhuguoliang commented on #517
Can be done with sudo, thought sudo is not needed with podman, closing now.

[2020-02-04 10:19] #517 closed

[2020-02-04 20:22] rhatdan commented on #517
It should not be needed.  What is in the tar file?  It could be a conflict in fuse-overlay.
Potentially a problem with SELinux labels trying to be assigned while in a fuse-overlay file system.

[2020-02-17 15:30] andrew-aladev opened #532 "Please use /tmp instead of /run/user/${uid} as runtime or temp path"
Hello. It is not possible today to use rootless `buildah` with `screen` or `tmux`.

1. Make login using `ssh host`.
2. `mount | grep /run/user`:
`none on /run/user/1000 type tmpfs (rw,relatime,mode=700,uid=1000)`
3. `sudo umount /run/user/1000`.
4. `exit`.
5. Make login using `ssh host` once again.
6. `mount | grep /run/user`:
`none on /run/user/1000 type tmpfs (rw,relatime,mode=700,uid=1000)`

We

[2020-02-20 08:44] rhatdan commented on #532
Is the /tmp not a tmpfs?  IE Is the issue you are having just a problem with tmpfs mounts?

[2020-02-20 09:32] andrew-aladev commented on #532
Yes, `/tmp` is tmpfs, but it is always alive. `/run/user/{id}` is alive only during user logged in. `docker` like `buildah` is usually long running operation so it looks like it should run stable across user logins and logouts.

[2020-02-21 19:48] rhatdan commented on #532
I think if you set systemd to linger, this should maintain both.  I believe without linger systemd will kill all user processes in the session when you logout anyways.
@mheon @giuseppe WDYT?

[2020-02-21 20:49] giuseppe commented on #532
yes, you need to setup linger mode for your user if you wish `/run/user/UID` to live longer than your session.

We were enabling linger mode automatically in the past and we got some complains about it, more details here: https://github.com/containers/libpod/issues/4224

[2020-02-24 09:18] giuseppe commented on #532
since you can force `/tmp` in your configuration file, I am going to close it.

Also, if lingering mode is not enabled, your containers will be killed as well, so using `/tmp` won't be that useful

[2020-02-24 09:38] andrew-aladev commented on #532
This doesn't look like solution. I have no systemd and can't enable some special systemd lingering mode. `/run/user/id` is not a suitable directory for containers.

Please do not link systemd with containers so hard.

[2020-02-24 09:43] giuseppe commented on #532
can you override it by setting `XDG_RUNTIME_DIR`?

I've no systems without systemd to try this out, could you open a PR?

[2020-02-24 10:05] andrew-aladev commented on #532
Yes, I've already done it [as a workaround](https://github.com/andrew-aladev/test-images/blob/master/utils.sh#L6-L19).

We can implement a separate config file entry with this directory path.

[2020-02-26 13:46] brianv0 opened #539 "Explore use of Namespaced File Capabilities to support rootless on NFS/GPFS"
Linux 4.14 added "Namespaced File Capabilities"

The patch is described here:
https://github.com/torvalds/linux/commit/8db6c34f1dbc8e06aa016a9b829b06902c3e1340
http://man7.org/linux/man-pages/man7/capabilities.7.html

It seems to me that this feature could be used to support rootless containers over NFS and GPFS or similar file systems, as the file is still stored as the user's UID, but the namesp

[2020-03-01 21:55] gartnera opened #544 "additionalimagestores config option ignored"
`additionalimagestores` is parsed into `GraphDriverOptions` here: https://github.com/containers/storage/blob/67c7e82f5c10e86a8ce29add27c0450ad76c6bfb/store.go#L3331-L3333

However, `GraphDriverOptions` is overwritten on the here:
https://github.com/containers/storage/blob/67c7e82f5c10e86a8ce29add27c0450ad76c6bfb/store.go#L3378

If I comment out the above line, my `additionalimagestores` is parsed

[2020-03-02 09:33] vrothberg commented on #539
@giuseppe WDYT?

[2020-03-02 21:44] rhatdan commented on #539
I don't think this has anything to do with NFS and potentially GPFS issues.
The problem is NFS is enforcing DAC_OVERRIDE and DAC_CHOWN on the server side.  If I have a process running as root inside of my user namespace, and this processes chowns a file to a different UID. Then the NFS server sees this as UID=1000 is attempting to change ownership of a file to UID 100000, and blocks it.  Since NFS

[2020-03-03 11:14] giuseppe commented on #539
yes, I agree with Dan.  Unfortunately this won't solve the NFS/GPFS use case.

I am going to close it, please add more comments if necessary

[2020-03-03 11:14] #539 closed

[2020-03-03 13:29] rhatdan commented on #544
@gartnera Interested in opening a PR?

[2020-03-03 13:51] rhatdan commented on #544
Is the graphdrivername being set?

[2020-03-03 14:58] #544 closed

[2020-03-08 17:01] miquecg opened #553 "Not able to share images with the host from builder containers"
Hi,

What I'm trying is to share images between containers and the host. Those images are created on containers derived from `buildah/stable` and I'd like to have them available on the host with no effort or additional steps.

In order to make this possible I've thought I'd need two things:

- Mount a host's directory to container's `/var/lib/containers`
- Add it to `additionalimagestores` array i

[2020-03-09 12:45] rhatdan commented on #553
Yes both should use overlay.
Just add --device /dev/fuse to your podman command and it should use the fuse-overlay inside of the buildah container.

[2020-03-09 12:45] rhatdan commented on #553
Have you read https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2020-03-09 14:59] miquecg commented on #553
Well, I've successfully changed the driver to `overlay` in my user's configuration. It was not straightforward. Apparently I had an old `storage.conf` so I needed to first install `fuse-overlayfs` and then recreate configuration again.

This is the result:

[code]

Inside container:

[code]

Everything seems ok, but images created inside the container are not available on the host. This is the new

[2020-03-12 16:04] miquecg commented on #553
Problem solved with latest Podman version:

[code]

I can now share images between containers and host. They now appear in `podman images` output, marked as R/O.

The only caveat I've found is the (expected) error message when trying to remove an image from the host, that is a bit misleading:

[code]

Also, command autocompletion adds R/O status `true` at the end of the image identifier:

[code]

[2020-03-12 16:04] #553 closed

[2020-03-16 09:15] dependabot-preview[bot] opened #563 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/26419298).

[2020-03-17 09:13] #563 closed

[2020-03-17 19:33] andrew-aladev commented on #532
@giuseppe, I see that people moved `XDG_RUNTIME_DIR` [stuff to `homedir` pkg](https://github.com/containers/storage/blob/master/pkg/homedir/homedir_linux.go). I am pretty sure that this option should go to [storage options](https://github.com/containers/storage/blob/master/storage.conf#L16):

[code]

I see a link to some freedesktop standards https://specifications.freedesktop.org/basedir-spec/lat

[2020-03-17 20:15] rhatdan commented on #532
@andrew-aladev We want to be able to work on non systemd-based systems.  Please open a PR with your suggested patch and we can look at it.

[2020-03-17 20:47] andrew-aladev commented on #532
I've found [source commit from docker](https://github.com/moby/moby/commit/ec87479b7e2bf6f1b5bcc657a377c6e6a847574f). It looks like Akihiro Suda was a developer who nailed both rootless **docker** and **buildah** to desktop standards and systemd. I can't return back to docker, safe home has already been destroyed.

You can see [the following poison](https://github.com/moby/moby/blob/master/cmd/doc

[2020-03-17 20:55] rhatdan commented on #532
I am telling you we would be willing to work with you to make this possible.  We are open to community involvement and do not need to require Systemd or Gnome settings.

[2020-03-17 23:49] AkihiroSuda commented on #532
Your home is safe. Just set `XDG_RUNTIME_DIR=/tmp/docker-${uid}`. See https://github.com/moby/moby/issues/40708#issuecomment-600353905

It originated from desktop but not only for desktop. Just same as dBus ("Desktop bus") isn't only for desktops today.

Actually, there is a bunch of server software that have been using `XDG_RUNTIME_DIR` ahead of rootless Docker. e.g. libvirtd and LXC.

[2020-03-18 13:35] rhatdan commented on #532
Setting the XDG_RUNTIME_DIR will also work for Podman, and you don't need to run a daemon.

[2020-03-19 20:05] haircommander opened #569 "many instances of 'size for layer $layer is unknown, failing getSize()'"
in CRI-O CI, we've been seeing tons of a warning from containers/image. Here's one reference: https://storage.googleapis.com/origin-federated-results/pr-logs/pull/cri-o_cri-o/3388/test_pull_request_crio_e2e_rhel/11081/artifacts/journals/crio.service I've seen others, but I don't remember where they are. if I find another, I'll post it
(you can also ignore the segfault, that's already being address

[2020-03-20 14:11] rhatdan commented on #569
Could you be asking for the size of a layer that has been deleted?

[2020-03-20 14:15] rhatdan commented on #569
This is the function in containers/image
[code]
@mtrmac Ideas?

[2020-03-20 14:17] rhatdan commented on #569
Basically we have a layer with
		if layer.UncompressedDigest == "" || layer.UncompressedSize < 0 {

[2020-03-20 14:28] mtrmac commented on #569
We have traced this (in a different instance than the log above) to a `layers.json` like
[code]

an in-progress state recorded by c/storage while creating a layer. Such layers should be automatically cleaned up on restart, and it’s unknown why they aren’t.

[2020-03-20 15:17] rhatdan commented on #569
Restart of what?  CRI-O?  The host?

[2020-03-20 15:20] mtrmac commented on #569
“Start of any program using c/storage with the same store” (with write privileges? configured to use the store not read-only?) I don’t fully understand the situation — but restart of CRI-O should be sufficient.

[2020-03-20 16:27] rhatdan commented on #569
Ok, but the issue is cri-o is seeing these images while running before being shut down.  And then generating log messages.  Can we judge when these situations happen and then not generate the log message?

[2020-03-20 17:42] mtrmac commented on #569
- The _log message_ is not the problem, we can’t make the problem go away by just not logging it. The problem is:
  - We deduplicate layers by generating predictable IDs; if the ID for a necessary layer is “occupied” by an incomplete layer, we can’t very well just carry on (well, we could give up on deduplication, but really that’s not a fix for the underlying bug, which might be severe).
  - We d

[2020-03-26 17:24] haircommander opened #575 "panic when trying to update last-writer without write-lock"
we somehow encountered this in CRI-O:
[code]

[ref](https://storage.googleapis.com/origin-federated-results/pr-logs/pull/cri-o_cri-o/3482/test_pull_request_crio_e2e_crun_fedora/2409/artifacts/journals/crio.service)

What's going on here, why is this a panic, and is there anything callers of c/storage can do to prevent this?

[2020-03-30 18:53] mrunalp commented on #575
@nalind @TomSweeneyRedHat @rhatdan ptal.

[2020-03-30 19:17] rhatdan commented on #575
@vrothberg PTAL

[2020-03-31 08:16] vrothberg commented on #575
We _must_ panic when detecting violations of the lock protocol to prevent data corruption. `(*lockfile).Touch()` has either been called without owning the lock OR at the time of being a reader. But we need to own the lock as a writer to update its metadata.

@haircommander, is it happening in master?

I really don't have any cycles left at the moment to look into it unless the Jedi council asks me

[2020-03-31 14:34] umohnani8 commented on #575
@vrothberg yes it is happening in master. This will be an issue when we bump up cri-o to 1.18 for 4.5 as this blows up on crio-wipe when crio is restarted. I also hit this when testing out changes I made to crio by switching out the binaries on a cluster.

[2020-03-31 14:40] vrothberg commented on #575
@umohnani8, do you have a reproducer? That would be ideal.

[2020-03-31 17:00] #575 closed

[2020-04-13 13:58] nalind commented on #503
It compiles, but I don't expect it to work.  The file locking implementation for Windows is currently just stubs.

[2020-04-13 14:44] nalind opened #595 "Being-saved images create errors up the stack"
Currently, to commit an image in the image library's `containers-storage` transport, we create and populate layers, create the image record, and then save the non-layers under the directory that matches that image record's ID.  The manifest and config blobs are among those non-layers.

This creates a small window where there's an image record without a manifest and/or config blob, and if another t

[2020-04-13 14:50] rhatdan commented on #595
@vrothberg @saschagrunert @mtrmac @giuseppe @TomSweeneyRedHat @baude @mheon  @mrunalp WDYT?

[2020-04-13 17:34] TomSweeneyRedHat commented on #595
For option 1, could we add a lock to the commit operation to avoid the issue you're concerned about?

[2020-04-13 19:52] mrunalp commented on #595
I like option 2. Can we run some kind of gc from daemons like CRI-O periodically to remove the phantom records?

[2020-04-13 20:29] giuseppe commented on #595
could we write these files before the image is recorded?  We'd still need to have some kind of GC if these files are written but the image wasn't recorded.

Another option would be to use a staging area, similarly to OSTree, so we can write these files to a temporary (but guessable) location, e.g.: `/var/lib/containers/storage/overlay-images/staging/IMAGE-ID/manifest`

When we lookup for the manif

[2020-04-14 08:57] vrothberg commented on #595
I wished we would not have this race window at all but I guess that's a natural part of sharing data across processes. I am not yet entirely hooked on the proposals, so I want to throw in another idea.

The problem reminds me of the block-copy detection mechanism we have been working on in c/image for a while. Mainly because we need to wait until processing data with a unique ID has been finished.

[2020-04-14 20:35] mtrmac commented on #595
Do I understand right that this is primarily problem for “list all images” users (and users who guess the ID in advance and use it directly)? For users that refer to a single image by name, we could easily enough defer the `SetNames` to only happen at the end when the image is complete, and until then the image might just as well not exist. But the “list all images” users need to know, and they te

[2020-04-16 08:20] giuseppe commented on #595
if a new API is acceptable, I like this solution

[2020-04-18 15:22] rottaran opened #602 "zfs driver fails at chown"
Dear developers,
I get following error message when building from docker files, for example, https://github.com/diegogslomp/samba-ad-dc

[code]

The command that fails is in https://github.com/containers/storage/blob/847e58e7c9560a8e3ab105a3927da902b32bdd59/drivers/zfs/zfs.go#L411

Same issue on on CentOS 7 as well as CentOS 8

[code]

my /etc/containers/storage.conf looks like this:
[code]

I hav

[2020-04-20 10:48] rhatdan commented on #602
This looks like the image is being mounted read/only for some reason.

[2020-04-20 15:17] rottaran commented on #602
My guess was, that the chown fails when applied to the mount point. However, I don't know enough about how that works. Might it be related to the changes made in the overlay driver in pull request #404 or #358 ?

[2020-04-20 15:45] sa687 commented on #602
I think btrfs had the same issue which was discussed at https://github.com/containers/libpod/issues/3773

rhatdan said that was [caused by the "ro" option](https://github.com/containers/libpod/issues/3773#issuecomment-519959987) that was added to fsdiff.go. https://github.com/containers/storage/pull/416 was a fix for btrfs, but it looks like no fix was applied for the zfs driver

[2020-04-20 16:46] rottaran commented on #602
Thank you for the pointer. Thus, I should drop "ro" from `options.Options` after this line: https://github.com/containers/storage/blob/master/drivers/zfs/zfs.go#L387 ?

But then everything is mounted writable. I guess that the chown at the end of `Get()` just shouldn't be applied on read-only mounts. Or at least, fail silently. I could not find a similar chown in the overlay driver's `Get()` code.

[2020-04-20 19:44] rhatdan commented on #602
That sounds quite possible.  Please open a PR to fix this and we will get it in.

[2020-04-27 11:31] emolitor opened #605 "Cannot use info.Digest as github.com/containers/storage/vendor/github.com/opencontainers/go-digest"
I've created a project that couples Starlark with Buildah (inducing a transitive dependency on github.com/containers/image) to simplify building packages for my toy Linux distribution. This may simply be user error but when I `go get` my project I get the following error. However when I use go build it works fine. Searching around the only issue I could find that might be related to this is https:

[2020-04-27 21:11] rhatdan commented on #605
@nalind WDYT?

[2020-04-28 22:36] asteven commented on #602
I have the same problem as the OP.
I'm trying to fix it, but would appreciate some hints how to build this lib and then podman from source to actually test it.

[2020-04-28 23:02] asteven commented on #602
Never mind, figured out how to build.

`podman build` now works for me with the patch from d345632, where before it failed with the error mentioned by the OP.

[2020-04-30 12:57] #602 closed

[2020-05-07 15:52] terylt opened #617 "Compile issue on UBI8"
First off, really nice work on the project!  It's been fun to learn about it and use it.

I'm having an issue trying to compile this project in UBI8. It appears that btrfs support has been removed from RHEL8/UBI8.  https://unix.stackexchange.com/questions/543831/mounting-btrfs-in-rhel-8

 Below is the sample Dockerfile, I've been using which demonstrates the issue.   Basically, I can't seem to get

[2020-05-07 19:16] rhatdan commented on #617
You should build with exclude_graphdriver_btrfs tag.
hack/btrfs_tag.sh
Should do this automatically if it can't find btrfs/version.h?

[2020-05-07 21:28] terylt commented on #617
Hi Dan,

Without btrfs-progs-devel installed, the make seems to still try and build the file:
https://github.com/containers/storage/blob/master/drivers/btrfs/btrfs.go
and complains about not finding:  <btrfs/ioctl.h>

I noticed that the exclude_graphdriver_btrfs is present at the top of btrfs_register.go but not btrfs.go.  It seems to still try and build btrfs.go.

[2020-05-08 15:21] rhatdan commented on #617
Have you tried building with exclude_graphdriver_btrfs

When I built on a non btrfs system, I see
GO111MODULE=on go build -mod=vendor -compiler gc -tags "  "  ./cmd/containers-storage

[2020-05-12 13:02] nlewo opened #622 "Make the fuse-overlay binary path configurable at build time"
It would be nice to be able to configure at build time the path of the `fuse-overlay` binary. If not configured, it could still rely on the `PATH` as currently implemented (https://github.com/containers/storage/blob/master/utils.go#L151).

This would avoid to add a wrapper Skopeo in the Nix package. See PR  https://github.com/NixOS/nixpkgs/pull/87659.

[2020-05-12 13:48] rhatdan commented on #622
Why not just specify the path in storage.conf under the overlay section?

[2020-05-12 15:15] nlewo commented on #622
Because I didn't know the existence of this file;) Thanks @rhatdan !

[2020-05-12 15:15] #622 closed

[2020-05-13 03:11] abel-von opened #624 "bug in the layerStore.Mount() ?"
when the `layerStore.Mount()` is call more than once for a same id, the layer can not be removed and will be residue on the host.

when I investigate into this, I found that the logic to avoid dulicated mount in the layerStore.Mount has some problem, first let's see what to do in the `layerStore.Mount()` when the `layer.MountCount` bigger than 0:

[code]
it will call `mount.Mounted()` with `layer.

[2020-05-13 07:45] abel-von commented on #624
I think this PR has some problem,  even if we find the rootfs is not mounted, and call the driver.Get(), driver has another counter and the duplicated call to Get() with the same id will do nothing.
https://github.com/containers/storage/pull/496

[code]

[2020-05-13 07:46] abel-von commented on #624
at least it is what devicemapper driver do

[2020-06-02 16:03] joelsmith opened #640 "Using mountopt metacopy=on results in build layers that include everything beneath"
When running buildah on my system, new build layers included everything from layers beneath. When I do a `podman save` and extract the contents of the two layers, diff shows that most of the files in the two layers are identical. The new layer is slightly larger than the old layer.

@nalind helped me track it down to the `metacopy=on` `mountopt`. Removing it fixed the issue for me. Here's what he

[2020-06-02 21:14] rhatdan commented on #640
@rhvgoyal FYI

[2020-06-30 19:30] terylt commented on #617
Okay, came back to this.  I seem to be able to get it to work with my current build by doing the following:

[code]
Thanks for the tips Dan! I will close this.

[2020-06-30 19:30] #617 closed

[2020-07-10 03:16] zvier opened #664 "Bug with residual resources in layerStore after remove an image"
Bug with residual resources in layerStore after remove an image may lead memory leak and affect other image build export failed with error messages as flows:

When delete an image, related layers in layerStore only be deleted in layers, idindex, byid, byname and bymount. But bycompressedsum and byuncompressedsum still maintain the relation for these layers utill the layerStore reload.

[code]

Thi

[2020-07-10 03:18] zvier commented on #664
There have two ways which has test in my environment to solve this problem and I priored the first:

1. Delete the residual relation in layerStore.bycompressedsum and layerStore.byuncompressedsum when delete the layer.Advantage is operate in memory directly. Disadvantage is need to add more code compared with method 2.

[code]
[code]

2. Reload the layerStore by call layerStore.Load() after delete

[2020-07-13 22:27] #664 closed

[2020-07-13 22:29] zvier commented on #664
Fixed by #665

[2020-07-27 14:55] jcpunk opened #734 "[RFE] Warning when graphroot is on an NFS volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Can rootless podman emit a warning if 'backingFs=nfs`

**Steps to reproduce the issue:**

1. Build system with /home/ on NFS

2. Setup user namespaces

3. run rootless podman

4. Get error

**Describe the results you received:**

Rootless podman does not run with graphroot on an NFS volum

[2020-07-30 17:23] rhatdan commented on #503
No one has worked on this, but we would be welcome to community working on it. Closing it for lack of activity.

[2020-07-30 17:23] #503 closed

[2020-07-30 17:33] rhatdan commented on #640
I don't believe this is true?  Could you give me an easy reporoducer?

I am running podman on a container, then I do a podman commit.

podman image tree shows  me something that looks like:

[code]

[2020-07-30 17:35] rhatdan commented on #624
Are you interested in opening a PR to fix the problem?

[2020-07-30 18:27] joelsmith commented on #640
I don't know why it works for you and doesn't work for me. I'm using btrfs, so maybe that has something to do with it. I tested 3 configs, and for me it was only broken when running as root with `metacopy=on`.

| run as \ mount opts | nodev,metacopy=on | nodev    |
|-------------|-------------------|----------|
| **root:**     | broken            | works    |
| **non-root:** | works             |

[2020-08-03 13:05] rhatdan commented on #280
Since there has been no work on this in 1.5 years, I am going to close.  Reopen if this is something people want to work on .

[2020-08-03 13:05] #280 closed

[2020-08-03 13:06] rhatdan commented on #371
@vrothberg This is still something you want to pursue correct?

[2020-08-03 13:09] vrothberg commented on #371
@nalind wants to have a look at it this week.

[2020-08-03 13:09] rhatdan commented on #640
Just for completeness could you give us the podman info command.

[2020-08-03 13:10] rhatdan commented on #640
@rhvgoyal @nalind Is this just the naivediff grabbing all of the contents just because the Inodes have changed?

[2020-08-03 13:11] rhatdan commented on #640
Another thought, is, this breakage because of BTRFS being the underlying file system versus xfs or ext4.

[2020-08-03 13:21] rhatdan commented on #624
With the overlay driver the layer.MountPoint is something like
/home/dwalsh/.local/share/containers/storage/overlay/9c3847385c56fda91796ec164a50066d744706ae0a8dbd6e22ef7745b2edf67d/merged
Which is the mount point, so this works correctly.
In devicemapper, why is the MountPoint set to the rootfs directory, if it's parent is the actual mount point?
@rhvgoyal Any ideas?

[2020-08-03 13:21] rhatdan commented on #605
@nalind PTAL

[2020-08-03 13:28] rhatdan commented on #595
@nalind @mtrmac @giuseppe @vrothberg @saschagrunert This Issue seems to have been dropped, we seemed to be coming to a decent solution, but then everyone went off into their own priorities and this was never fixed.
Do we have concensus on a fix, in adding a new API call?  Can someone implement this new API Call?

[2020-08-03 13:30] rhatdan commented on #569
@haircommander Is this still an issue?

[2020-08-03 13:31] rhatdan commented on #532
I think we had suggested fixes for this, reopen if I am mistaken.

[2020-08-03 13:31] #532 closed

[2020-08-03 13:32] rhatdan commented on #383
@jwflory @siscia Is there any chance of this moving forward?

[2020-08-03 13:33] rhatdan commented on #498
@giuseppe @ktock What's up with this issue?

[2020-08-03 13:33] rhatdan commented on #474
I think this is fixed, reopen if this is incorrect.

[2020-08-03 13:33] #474 closed

[2020-08-03 13:34] rhatdan commented on #420
@saschagrunert Any movement on this?  Or still waiting for #473 to get merged?

[2020-08-03 13:35] rhatdan commented on #421
Also this issue is still waiting for #473 correct?

[2020-08-03 13:35] rhatdan commented on #367
We have an issue on naivediff and metacopy=up, that might be related.  We probably need to revisit this issue.

[2020-08-03 13:37] haircommander commented on #569
I can't remember seeing it recently, but I also don't know if anything has been done to fix it. Though, it doesn't sound like something that's high priority--it's not causing failures, but rather revealing failures that were encountered (a previous crash, in that example). If I run into it again, I will post more here, but I imagine it'd be fine if we closed this because there's no intention of fi

[2020-08-03 13:52] vrothberg commented on #595
`CreateImageAtomically(expectedID, topLayer, bigData map[string][]byte], names []string)` sounds good to me.

As for implementing, I suggest to create a card internally unless @saschagrunert has time to tackle it.

[2020-08-03 14:36] siscia commented on #383
I am actually on vacation!

I am setting a reminder for next week as I come back to work.

[2020-08-04 06:42] saschagrunert commented on #420
Yes I think #473 is a pre-requirement for this more in-depth enhancement :)

[2020-08-04 06:43] saschagrunert commented on #421
Basically yes. Technically the features could live on their own but I see #473 as a pre-step for this enhancement.

[2020-08-04 10:01] #569 closed

[2020-08-04 13:21] saschagrunert commented on #595
I think I can look into it in the next weeks, if someone else is faster than me then feel free to assign this one :)

[2020-08-13 08:39] siscia commented on #383
I am now having a quick look at the interface of the layers, that I am guessing is this one (https://github.com/containers/storage/blob/4176c81c99e02a0aac66c3caf60a749773d793f8/drivers/driver.go#L68-L156)

It does not seems an impossible work to do, I still have some open questions, but with enough work maybe we can make this happens.

Said so, we should understand who is interested in it and how

[2020-08-13 12:51] jwflory commented on #383
Hi, I worked on this issue at a previous employer and no longer work with the CernVM-FS stack or in an H.P.C. environment. Other points of contact for follow-up might be @SEJeff, @LandonTClipp, or @lpezzaglia.

[2020-08-18 12:25] zvier opened #693 "layers missing when mount layer in concurrence case"
At #658, Mount() was refactored as mount() with the [s.graphLock.Lock() delete](https://github.com/containers/storage/pull/658/files#diff-1ac94134b8964626aaac00790fa9b48fL2613). This may lead layers missing in the concurrence case.

In our test environment, many errors 'layer not know' appear when build images with 20 concurrence use this latest version(v1.22.0) storage package.

The reason is whe

[2020-08-18 22:23] #693 closed

[2020-08-18 23:37] kolyshkin opened #696 "[proposal] Add cleanup method for graphdrivers to unmount home mount"
Many (or all?) graph drivers create a bind mount of their home directories in order to set mount propagation to private. This mount is never unmounted, i.e. there is no "Cleanup" function or something that a higher level tool like CRI-O could use during shutdown to clean things up. As this mount is internal to the graph driver, the undoing of it should also be internal.

I propose to add `Cleanup(

[2020-08-19 12:06] rhatdan commented on #696
I believe this is umounted when you shutdown the store.

store.Shutdown()

[2020-08-19 12:07] rhatdan commented on #696
I just fixed something like this in Buildah 2d57fc6c3f31e3cac4b029da8c95d5d0c1a2fbfb

[2020-08-20 11:55] vrothberg opened #697 "regression in v1.23.1"
v1.23.1 is causing regressions in Podman's `apiv2` tests. I do not have the time to track it down but need to get work done that's currently blocked by the regression so I first revert the bump in c/image (see https://github.com/containers/image/pull/1031).

[code]

[2020-08-20 12:01] vrothberg commented on #697
It looks like commit 7005d07fa80a causes it.

[2020-08-20 12:13] vrothberg commented on #697
[code]

[2020-08-20 12:57] vrothberg commented on #697
What I am seeing on the server side:
[code]

[2020-08-20 12:59] vrothberg commented on #697
@giuseppe @nalind @rhatdan ... no idea what's going on here. The only thing I noticed is that the error only occurs when we're locking the graphlock _before_ the layer store. If we lock after, CI passes again.

[2020-08-20 13:53] rhatdan commented on #697
@zvier PTAL

[2020-08-20 13:55] vrothberg commented on #697
Note that it might very well be a bug in Podman. At least we cannot rule that out.

[2020-08-20 14:14] nalind commented on #697
That differs from the order in which they're acquired in `Shutdown()`, which would be a potential lock ordering problem.

[2020-08-20 19:55] giuseppe commented on #697
I don't think there is a regression in v1.23.1, IMO it only showed a race condition that already existed.

I think the issue is that podman performs the unmount from the cleanup process, and that confuses the mounts RefCounter.  So next time the podman daemon tries to do a mount, nothing happens because the RefCounter believes it is already mounted, while in reality it was unmounted by the cleanup

[2020-08-20 20:06] giuseppe commented on #697
I've tried with:

[code]

Not sure if it is the best fix, but at least the tests pass now.

[2020-08-24 19:20] #697 closed

[2020-08-31 11:38] zvier opened #705 "[Bug] goroutine leak in layer store when apply diff with an invalid image tarball"
A goroutine leak is occurred  when imports an invalid image tarball.  The invalid image tarball can be made as flows:
[code]
Then use the invalid image tarball as an base image import to the storage and it will return error with  'error adding layer with blob'. But a goroutine is leak at this time.

With go pprof tool(`net/http/pprof`), we trace the goroutine was blok in `github.com/vbatts/tar-spl

[2020-08-31 14:16] #705 closed

[2020-09-08 11:17] siretart opened #712 "TestDefaultStoreOpts fails in debian package build"
When trying to update the debian package to version 1.23.4, I'm getting this error while running the tests:

[code]

The location stems from here:
https://github.com/containers/storage/blob/01ce1c303af6b7fadd08b5733bf4f83ddcda575b/utils_test.go#L268

In order to see the old and new path, I've applied this patch locally:

[code]

The Debian build is running outside of a container as [fakeroot](http

[2020-09-08 20:29] rhatdan commented on #712
Interested in filing a PR to make the test work the way you want?

[2020-09-08 20:46] siretart commented on #712
I'm not sure how to fix the issue, and the patch above seems kind of trivial, but I sure can put that patch in a PR if you think it'd be useful

[2020-09-09 10:12] rhatdan commented on #712
Open up a PR to apply your patch.

[2020-09-09 10:14] vrothberg commented on #712
Note that the patch doesn't fix it but it shows the mismatching items.

[2020-09-10 01:43] siretart commented on #712
Fair enough, filed as #715 715

@vrothberg is right, that patch doesn't fix anything. I think the test should fail whenever `XDG_RUNTIME_DIR` is set in the environment to some path that points to an empty directory (which is what the debian package does during the build)

[2020-09-24 10:57] Luap99 opened #739 "buildah --userns-uid-map and --userns-gid-map is not validated correctly"
**Description**

The `--userns-uid-map` and `--userns-gid-map` flag validation does not work correct. Something like `--userns-uid-map bogus` is silently ignored. However `--userns-uid-map 123` fails with an error. So it looks like the validation only works if the argument contains a number.

This works (mappings are ignored):
`buildah bud --userns-gid-map a --userns-uid-map b .`
This fails:
`buil

[2020-10-02 00:36] plopresti opened #735 "ignore_chown_errors + additionalimagestores = failure"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Setting both ignore_chown_errors and additionalimagestores in ~/.config/containers/storage.conf does not work if the additional image store is owned by a different user. (Specifically, ignore_chown_errors appears not to take effect.)

**Steps to reproduce the issue:**

1. As one user (userA),

[2020-10-06 00:03] plopresti commented on #735
That next error comes from `createIfNotExist`, here:

https://github.com/opencontainers/runc/blob/dc9208a3303feef5b3839f4323d9beb36df0a9dd/libcontainer/rootfs_linux.go#L886

...when called by `prepareBindMount`, here:

https://github.com/opencontainers/runc/blob/dc9208a3303feef5b3839f4323d9beb36df0a9dd/libcontainer/rootfs_linux.go#L205

As far as I can tell, `prepareBindMount` is trying to create

[2020-10-06 22:17] thaney071 opened #736 "opencontainers/runc v1.0.0-rc91 doesn't have GetClockTicks used by containerd v1.3.2"
While trying to use the image.Copy method provided by https://github.com/containers/image that this tool used, I kept getting an error that GetClockTicks is undefined. I don't know how this tool or the image.Copy code is working when the versions don't align with the required methods.

 I had to add
`replace github.com/opencontainers/runc v1.0.0-rc91 => github.com/opencontainers/runc v0.1.1`
to my

[2020-10-06 23:17] plopresti commented on #735
@rhatdan

With a bit of hacking, I actually have this working.

First, as mentioned above, I deleted this stanza from overlay.go in the podman libstorage code:

https://github.com/containers/storage/blob/v1.23.5/drivers/overlay/overlay.go#L574-L581

Next, I had to make some changes to fuse-overlay. I replaced the entire body of `find_mapping`, here:

https://github.com/containers/fuse-overlayfs/bl

[2020-10-07 11:51] mtrmac commented on #736
Skopeo is a final command, not a library; did you mean to file this against containers/image? Either way, the dependency actually comes from the containers/storage project (c/storage/pkg/archive requires github.com/opencontainers/runc/libcontainer/system ).

I imagine reverting to a **4 years old** version is not an option, and even reverting to May 2020 would not be attractive. But there may be s

[2020-10-07 17:42] rhatdan commented on #736
@thaney071 What platform are you building this on?

[2020-10-07 17:42] rhatdan commented on #735
@giuseppe WDYT?

[2020-10-07 17:45] rhatdan commented on #712
Interested in opening a PR to do this?

[2020-10-07 17:46] rhatdan commented on #696
I think I answered this reopen if I am mistaken.

[2020-10-07 17:46] #696 closed

[2020-10-07 17:46] rhatdan commented on #640
@joelsmith Are you still having this problem?

[2020-10-07 17:47] rhatdan commented on #624
@abel-von Still interested in this, or can I close?

[2020-10-07 17:49] rhatdan commented on #595
@nalind @saschagrunert Any progress on this?

[2020-10-07 17:50] joelsmith commented on #640
Yes, if I use `nodev,metacopy=on` running as root. To avoid it, I just avoid `metacopy=on`.  I didn't notice your comments from Aug 3. Here's my `podman info` output:
[code]

[2020-10-07 17:50] rhatdan commented on #498
This Issue is going no where?

[2020-10-07 17:53] rhatdan commented on #367
@kolyshkin or @giuseppe  This might be something that interests you ?

[2020-10-07 18:37] AkihiroSuda commented on #498
Pending PR: https://github.com/containers/storage/pull/644

[2020-10-07 19:14] TomSweeneyRedHat commented on #739
This should still live in Buildah too.  I've been working on it there and thought I'd an "In Progress" label on it.  You've fixed the storage side, but Buildah is not sending the value of `--userns-uid-map-user` and `--userns-gid-map-group` to NewIDMappings() as it should to validate the value passed to the option.  I'll make another issue in buildah.

[2020-10-07 19:21] TomSweeneyRedHat opened #741 "buildah --userns-uid-map and --userns-gid-map is not validated correctly"
This was first reported by @Luap99 in https://github.com/containers/storage/issues/739.  This issue has two issues.  One is in the storage side of things that's being fixed with https://github.com/containers/storage/pull/740.  The second is Buildah is not sending the value of --userns-uid-map-user and --userns-gid-map-group to NewIDMappings() as it should to validate the value passed to the option

[2020-10-07 22:08] TomSweeneyRedHat commented on #739
@Luap99, just in case as it confused me too.  The options that you used require a map like:  `{in-container GID}:{corresponding starting host-level GID}:{the number of consecutive IDs}`, not the user or group name.  I think @rhatdan has a lead on that fix.  If you want to pass in the user or group, you instead need to use these options `--user-uid-map-user` and `--user-gid-map-group`.

[2020-10-08 07:04] giuseppe commented on #735
I am fine if we extend fuse-overlayfs with a `squash-to-root` kind of option.  We could then use it from `mountopt` in the `storage.conf` file without having to modify other tools.

[2020-10-08 07:09] saschagrunert commented on #595
Not until now unfortunately.

[2020-10-08 07:23] giuseppe commented on #735
@plopresti would you like to open a PR for fuse-overlayfs?

[2020-10-08 13:04] mtrmac commented on #736
BTW it may be possible to use c/image/copy.Image without directly depending on c/image/storage , by not using `alltransports.ParseImageName`, but directly a `NewReference` or `ParseReference` method or function of the relevant transport subpackage (e.g. `c/image/docker.NewReference`) — but I haven’t checked whether removing the direct reference also drops the versioning conflict, from the point of

[2020-10-08 14:52] plopresti commented on #735
@giuseppe Sure. But note that making this work requires more than just `squash-to-root`. Even with that code change, I still get a variety of `chown/fchown/fchownat/etc` errors. Instead of tracking all of those down, I just threw together an LD_PRELOAD hack to ignore all of the failures.

Is it OK if `squash-to-root` also ignores such errors? I will track down exactly which ones are failing. (I ca

[2020-10-08 15:29] giuseppe commented on #735
yes, I think the squash-to-root should prevent these errors too.  Do you know how they are happening?  Isn't any UID/GID being mapped back to 0?

[2020-10-08 15:50] thaney071 commented on #736
@rhatdan

My go env is
`go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/vscode/.cache/go-build"
GOENV="/home/vscode/.config/go/env"
GOEXE=""
GOFLAGS="-tags=containers_image_openpgp"
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOINSECURE=""
GONOPROXY="bitbucket.metro.ad.selinc.com/*"
GONOSUMDB="bitbucket.metro.ad.selinc.com/*"
GOOS="linux"
GOPATH="/go"
GOPRIVATE="bitbucket.metro.ad.selinc.com/

[2020-10-08 15:58] plopresti commented on #735
I do not know exactly, yet.

In `ignore_chown_errors` mode, root inside the container is mapped to the single unprivileged user outside the container, and there are no other mappings (I believe). So any attempt to "chown" anything tends to fail. Thus far I have been figuring this out by staring at strace output. I will see if I can get it running under gdb and track down the exact failures. Thanks

[2020-10-08 16:42] plopresti commented on #735
Moving this part of the discussion to https://github.com/containers/fuse-overlayfs/issues/241

[2020-10-08 18:09] rhatdan commented on #736
Ok so why is this an issue with the upstream project?

[2020-10-13 20:25] #739 closed

[2020-10-23 00:59] nalind commented on #640
I can reproduce the error @joelsmith is seeing.

buildah v1.12.0 uses storage v1.15.3, and at image-commit-time it generates a layer diff by mounting both the child layer and the parent layer, and then walking the two mounted directories to compute the diff.  When the overlay driver computes the mount options to specify in order to mount the parent layer, because it's being asked to mount the pare

[2020-10-29 09:35] kolyshkin commented on #736
This is between runc and containerd, not sure why the issue is filed against to this repo.

@thaney071 please take a look at https://github.com/opencontainers/runc/pull/2377/commits/402d645c5c642a4965439a156181cff3fc2f3817 as to why GetClockTicks was removed.

Now, neither containers/storage nor containers/image uses that. containerd (which you mention in the title) did, but that was changed in ht

[2020-10-29 09:35] kolyshkin commented on #736
@rhatdan this should be closed.

[2020-10-29 15:01] mtrmac commented on #736
https://github.com/containers/storage/issues/736#issuecomment-704882746

[2020-10-29 18:55] #736 closed

[2020-11-01 18:28] likan999 opened #763 "Question about id subtraction code."
I am quite confused by the id subtraction code. Not sure if I misunderstood it, or it is actually a bug.

In https://github.com/containers/storage/blob/4188292d5709d4431a9dc1d07e144b092b087cc2/userns_test.go#L75, if we subtract range `[132768, 132768+4096)` from `[100000, 165536)`, it should be `[100000, 132768)` and `[132768+4096, 165536)`, but why does the test assert it to be `[132768, 165536-4

[2020-11-03 10:40] #763 closed

[2020-11-12 11:24] sebastian-luna-valero opened #771 "storage.conf for default Ubuntu 18.04 install"
Hi,

I am following the official installation instructions for `podman` on Ubuntu:

https://podman.io/getting-started/installation

This is a fresh virtual machine with a 10 GB root disk and a vanilla configuration (i.e. it uses an ext4 filesystem for the root partition). After creating a few containers I quickly run out of disk space.

Here is more info:
[code]

Googling took me to the following

[2020-11-12 18:48] rhatdan commented on #771
Nope VFS or fuse-overlayfs, although some people have played with BTRFS.

The problem, I believe is the features that allow us to run a fuse file system within a rootless usernamespace might not exist in this old of a kernel. In RHEL7 we had the kernel engineers back port the support.

@giuseppe Is this your understanding?

Best case would be to update to a newer distribution.

[2020-11-13 13:28] sebastian-luna-valero commented on #771
Thanks @rhatdan

@giuseppe feel free to comment further. Closing for now.

[2020-11-13 13:28] #771 closed

[2021-02-22 21:50] matejvasek opened #831 "`podman info` data race"
If two clients call `podman-remote info` simultaneously thread sanitizer detects data race.
This might be an issue of `github.com/containers/storage/` not `podman`'s

[code]

[2021-03-05 08:31] giuseppe commented on #831
closing since https://github.com/containers/storage/pull/832 was merged

[2021-03-05 08:31] #831 closed

[2021-03-05 08:32] giuseppe commented on #735
closing as it was fixed in fuse-overlayfs.  Not sure there is anything else we can do from containers/storage

[2021-03-05 08:32] #735 closed

[2021-03-11 05:42] ctalledo opened #852 "getAutoUserns() returns non consecutive usern-ns ID mappings"
I am seeing that getAutoUserns() (in store.go) returns non consecutive user-ns ID mappings in scenarios where it should have returned a continuous mapping.

For example, when I call this function to request allocation of 65536 UIDs from host ID range starting at 296608, where mapping {ContainerID: 0, HostID: 296608, Size:1} is passed in as a "used UID", the function returns the following mappings:

[2021-03-11 09:45] giuseppe commented on #852
Hi Cesar, thanks for the detailed report!

If I run locally the test case you've reported:

[code]

I get: `[{0 296609 65535}]`

Do you see a different result?

The ContainerID always starts at 0, it is incremented sequentially. e.g. with:

[code]

I get: `[{0 296609 3} {3 296613 65532}]`

`ContainerID[i] = ContainerID[i-1] + Size[i-1]`, with `ContainerID[0] = 0`.

So the ContainerID for the first

[2021-03-11 18:23] ctalledo commented on #852
HI @giuseppe , thanks for the quick response.

Yes, that's the problem. Function findAvailableIDRange() should have returned `[{1 296609 65535}]` instead, because container ID 0 (mapped to host ID 296608) is already "used" (i.e., it's not available).

As a result of findAvailableIDRange() returning that incorrect container ID range, when the calling function (`getAutoUserNS()`) calls `subtractAll(

[2021-03-11 21:25] giuseppe commented on #852
thanks for the additional info.

Could you also print the content of `AdditionalUIDMappings`?

I think it could be an issue in `subtractAll`.

@likan999 could you please take a look?  Do you think it is something that `subtractAll` should take into account?

[2021-03-11 21:49] ctalledo commented on #852
Sure:

[code]

Notice also how in the second line the availableUIDs slice has an invalid size = 65536; we expect 65535 since one of the mappings is already used.

I took a closer look, and I *think* the bug is in findAvailableIDRange(), as marked below:

[code]

The `currentID := 0` line assumes the containerID range starts at zero, but misses the fact that this containerID may not be available (b

[2021-03-11 22:01] giuseppe commented on #852
thanks for your detailed analysis.

Could you open a PR with your changes and the test case you've written?

[2021-03-11 22:14] ctalledo commented on #852
Sure. Apart from the unit tests in userns_test.go, are there any integration tests (say in the CRI-O repo) that I could run to make sure all is good?

[2021-03-11 22:41] ctalledo commented on #852
FYI: PR is [here](https://github.com/containers/storage/pull/853).

[2021-03-12 00:00] ctalledo commented on #852
Related to this issue, when using `crictl` + CRI-O to play around with the pod user-ns ID mappings, I am seeing some strange behavior.

The following are observations without the proposed fix for this issue (i.e., with upstream containers/storage). My `/etc/subuid` file has `containers:296608:655360`.

#### 1) Pod with `io.kubernetes.cri-o.userns-mode": "auto:size=65536"`  and `run_as_user: 0`

CR

[2021-03-12 09:08] giuseppe commented on #852
Managing directly the IDs is a privileged operation.  You are not allowed to use it unless the POD is running as root (`run_as_user: 0`).

`run_as_user: 0` refers to root on the host, because that is what the rest of Kubernetes knows, so it is mapped to the first available ID inside the user namespace.

Would you like to run as root inside the container but mapped to a different user on the host?

[2021-03-12 17:15] ctalledo commented on #852
Not sure I follow. The pod is the entity whose UIDs are going to be mapped. The entity doing the mapping is K8s + CRIO. The latter run as root and thus can do the mapping per the pod's spec.

Yes exactly: I want to have a pod with container UIDs 0->65535  mapped to host IDs 296608-> (296608 + 65535). This way root in the pod is mapped to a non-root user in the host, thereby providing isolation pro

[2021-03-12 17:26] giuseppe commented on #852
technically yes, there is nothing preventing CRI-O to set that mapping.  The problem though is that there are a lot of higher level policies (e.g.,  OpenShift SCCs) that can prevent a POD to run as root.  To avoid circumventing these policies, we limit the usage of directly setting the mappings unless the POD is already running as root, so it means it is privileged enough that the mappings  won't

[2021-03-12 21:53] likan999 commented on #852
I have a simpler PR #856 that passes the unit tests in #853. Please let me know if the PR works. Thanks.

[2021-03-13 19:50] ctalledo commented on #852
I just realized that only works with CRI-O 1.20, but not with top-of-tree master. With the latter, omitting "run_as_user" is equivalent to "run_as_user = 0", so CRI-O generates the following mapping:

[code]

This is not what I want since it maps root in the container to root in the host; I want ContainerID 0 -> HostID 296608.

Just tried it, but it still does not do what's needed:

a) "io.kuberne

[2021-03-14 18:20] likan999 commented on #852
After some closer look, it seems my previous mindset is incorrect. There is not any invariant to maintain the difference between host and container ids (sorry @giuseppe). What it really should happen is
1) read availableHostIds from /etc/subuids;
2) availableHostIds := subtract(availableHostIds, hostIdsOf(usedIdsMap)+hostIdsOf(additionalIdsMap));
3) compute requestedSize as currently is doing (not

[2021-03-14 20:18] giuseppe commented on #852
@likan999 thanks for taking a look at this.

Yes, these steps look reasonable to me

[2021-03-15 05:43] ctalledo commented on #852
Sounds good @likan999  ... thanks for taking a closer look. I wonder if we need better unit tests too, because the existing tests where not catching some of the problem in the original fix in #853 and in the alternative fix in #856.

[2021-03-15 16:02] ctalledo commented on #852
Hi @giuseppe ,

Back on this topic:

As I mentioned, I managed to get crictl + CRI-O to do that by specifying io.kubernetes.cri-o.userns-mode": "auto:size=65536" and omitting the "run_as_user".  But this only works on CRI-O release 1.20.  I can't find a way to do this on CRI-O top-of-tree (i.e., omiting "run_as_user" is equivalent to run_as_user = 0, which maps UID 0 in the pod to UID 0 in the hos

[2021-03-15 17:48] giuseppe commented on #852
@haircommander FYI.

@ctalledo that is right, without an explicit `run_as_user` then Kubernetes assumes it is root.  You'd need to manually set a `run_as_user` so that the rest of Kubernetes knows what is the user that runs the container

[2021-03-15 18:12] ctalledo commented on #852
Thanks @giuseppe; but how can I set "run_as_user" to a host ID if I don't know what host ID to set it to, given that CRI-O is automatically choosing the host ID via the `"io.kubernetes.cri-o.userns-mode": "auto:size=65536"` annotation?

In other words, if I use "auto:size=65536" (which I like because CRI-O chooses the UID mapping automatically), I don't know what to set "run_as_user" to. And if I

[2021-03-19 12:11] jwillikers opened #858 "Named volumes as Btrfs subvolumes?"
When using the Btrfs driver in Podman, containers are stored as individual subvolumes.
However, my most important data is stored in named volumes which are not stored in individual subvolumes.
It would be nice if named volumes were created as Btrfs subvolumes when using the Btrfs driver.
Ideally, it would then be simple matter for creating snapshots of named subvolumes.
I can also think of instanc

[2021-03-22 21:39] afbjorklund opened #863 "The mount attribute "userxattr" is added also for older kernels"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman doesn't work, without a custom storage.conf to avoid automatic mount attributes

[code]

Since https://github.com/containers/storage/commit/6cb8896a97f8f82d6ed86be1051577aceb1fd580

**Steps to reproduce the issue:**

1. podman run -it fedora

2.

3.

**Describe the results you received

[2021-03-23 21:19] afbjorklund commented on #863
Indeed it was, `supported: false`

[2021-03-23 22:02] rhatdan commented on #863
So can we close this issue?

[2021-03-24 07:45] giuseppe commented on #863
yes let's close if it works also on Ubuntu

[2021-03-24 07:45] #863 closed

[2021-03-24 09:11] afbjorklund commented on #863
It might have been an "upgrade problem" or somesuch, but giving the mount_program explicitly would work in that case...

The main message is that rootless mounts doesn't work with those kernels, and it seems like new installs now know this.

[2021-04-01 13:59] joshrosso opened #868 "Do not log error on init due to no storage provider configuration"
As a consumer of the [image](https://github.com/containers/image) library, I've built some client tooling, similar to skopeo, upon usage of this repo, will always log the following error:

[code]

https://github.com/containers/storage/blob/master/types/options.go#L289

Note this is called on init of the package. Thus, there's no real way for me to suppress it in scenarios where a storage configura

[2021-04-01 21:27] smijolovic opened #869 "Make fails on golang 1.16.3"
$ make containers-storage

rm -f images_ffjson.go
tests/tools/build/ffjson images.go
images_ffjson.go
rm -f layers_ffjson.go
tests/tools/build/ffjson layers.go
layers_ffjson.go
rm -f containers_ffjson.go
tests/tools/build/ffjson containers.go
containers_ffjson.go
rm -f pkg/archive/archive_ffjson.go
tests/tools/build/ffjson pkg/archive/archive.go
pkg/archive/archive_ffjson.go
GO111MODULE=on go buil

[2021-04-02 14:20] rhatdan commented on #868
I opened a PR to set the default to "overlay",  would that satisfy your issue?

[2021-04-05 11:10] #852 closed

[2021-04-05 16:04] ctalledo commented on #852
Thanks @likan999 and @giuseppe for your work on this fix!

[2021-04-07 14:05] joshrosso commented on #868
@rhatdan I don't believe so.

My ask: when the storage file is not present, to either

a. default to something e.g. overlay
b. don't validate the storage setting on `init`, affectively making it hard to use a library imported in another code base.

See https://github.com/containers/storage/blob/master/types/options.go#L42

Let me know if that ask makes sense.

[2021-04-22 11:53] DavidHaltinner opened #880 "panic: runtime error: index out of range"
@vrothberg asked that I bring this issue over here from cri-o. Original posted issue: https://github.com/cri-o/cri-o/issues/4777

**Description**
I have had about a half dozen crashes of cri-o in the last few months, on a few different versions.
Crio crashes with a "panic: runtime error: index out of range" and a stack trace which I will paste below.
I am utilizing OKD, 4.7 currently, but issue oc

[2021-05-10 12:28] DavidHaltinner commented on #880
Another crash over the weekend.
This was also proceeded by podman removing an image.
Logs
[crio2.txt](https://github.com/containers/storage/files/6451976/crio2.txt)
 attached.

[2021-05-10 12:30] vrothberg commented on #880
Thanks for the two reports, @DavidHaltinner!  Apologies for the silence. We've been super busy.

@giuseppe @nalind, do you have a suspicion?

[2021-05-10 13:15] giuseppe commented on #880
a race between `imageStore.Delete()` and `imageStore.Images()`?

They both access `r.images` and it might be that `i` in r.images[i] is bigger or equal to `len(r.images)`

[2021-05-11 20:15] rhatdan commented on #880
Do we need to add a lock for this?

[2021-05-11 20:27] nalind commented on #880
The `store` object that owns the `imageStore` object should already be holding a lock around these methods.

[2021-05-12 11:06] giuseppe commented on #880
another possibility is that a different goroutine triggers a `imageStore.Load()` but these calls are also locked by the `store` object.

Since it is the first time we see this error, it is probably something related to your system.  Can you share more details about it?

What kernel are you using?  What is the file system below the lock file (`/var/lib/containers/storage/overlay-images/images.lock`

[2021-05-12 12:02] DavidHaltinner commented on #880
This is happening under OKD 4.7, so its running on Fedora CoreOS (current kernel is 5.10.19-200.fc33.x86_64). They were built with minimal changes from the defaults in the ignition files (add user, set timezone, add internal CA trust, that kind of stuff), and the only change afterwards was a machine config change in OKD to increase the allowed number of threads under crio.
Nothing else has been do

[2021-05-12 12:23] giuseppe commented on #880
thanks for the extra information.

I'd like to know the underlying file system, could you share the output of `stat -f /var/lib/containers/storage/overlay-images/images.lock`?

[2021-05-12 12:27] DavidHaltinner commented on #880
Ah, ok, i thought you were asking something else. Its using xfs.

the stat output:

  File: "/var/lib/containers/storage/overlay-images/images.lock"
    ID: 80400000000 Namelen: 255     Type: xfs
Block size: 4096       Fundamental block size: 4096
Blocks: Total: 31323387   Free: 18104879   Available: 18104879
Inodes: Total: 62651840   Free: 61886194

[2021-05-12 13:10] giuseppe commented on #880
ok thanks.

I think I understand what is going on.

There is a race in the `store.Images()` method:

[code]

If there are two goroutines both calling `store.Images()` then it can happen that one of them hits the Modified() branch, and updates the image store images, while the second one doesn't hit Modified and goes directly to `imageStore.Load()`.  While the second goroutine is iterating over the

[2021-05-12 20:41] giuseppe commented on #880
suggested fix: https://github.com/containers/storage/pull/898

[2021-05-13 15:24] rhatdan opened #900 "Please rename the master branch to the main branch."

[2021-05-13 19:21] c-goes opened #901 "Prefer fuse-overlayfs over vfs for rootful containers"
The behavior of Docker 20.10 is to use fuse-overlayfs if overlayfs isn't available (https://medium.com/nttlabs/docker-20-10-59cc4bd59d37). This happens also for rootful containers.
I want to request this feature also for the Podman project because I find it useful for nesting Podman containers in LXC or LXD.

It's already possible to configure it in storage.conf but I think it should be default.

[2021-05-13 19:55] rhatdan commented on #901
This is basically what Podman does now.

[2021-05-13 20:24] c-goes commented on #901
Hmm I tried the following (inside a LXC container)

    podman system reset

remove /etc/containers/storage.conf

put `fuse-overlayfs` in `/usr/local/bin`

then `podman info` shows that it would use vfs

[code]

[2021-05-13 21:21] rhatdan commented on #901
Is fuse-overlay in path.

The code is doing a

https://github.com/containers/storage/blob/master/types/options.go#L194-L201

[2021-05-13 23:02] c-goes commented on #901
Is this code also called for rootful containers? I meant only rootful containers

fuse-overlayfs is in path.

What I try is running podman as root in a LXC container (Proxmox PVE), this LXC container is located on ZFS.
Podman thinks it can use ZFS but this isn't working in a LXC container and falls back to VFS

[code]

What I want to suggest it should fallback to fuse-overlayfs if it's not already

[2021-05-14 07:24] saschagrunert commented on #900
I'm definitely in favor of this

[2021-05-14 08:54] rhatdan commented on #901
Only if CAP_SYS_ADMIN privs is removed.  @giuseppe WDYT?

[2021-05-14 09:35] c-goes commented on #901
Another example is using LXD instead of LXC-PVE

[code]

Here it tries to use ZFS but this can't be possible in a container, so it should chose fuse-overlayfs if possible.

I can only start a container if I'm explicit

[code]

[2021-05-14 09:39] giuseppe commented on #901
I think it is a good idea and I've assumed that is what we currently do.  On newer kernels (5.13+) it will be possible to use overlay also from a user namespace so I think we should first try overlay and then fuse-overlayfs when zfs fails.

[2021-05-14 09:40] giuseppe commented on #901
does it already try to use overlay when running on zfs?

[2021-05-14 09:44] c-goes commented on #901
_Outside_ of my container it uses ZFS automatically for rootful containers. And I think it's the only place where it's possible to use ZFS.
For rootless I think it defaults to fuse-overlayfs.

[2021-05-14 19:11] #880 closed

[2021-05-20 19:13] cevich opened #915 "Confused base images between recording and name-setting"
Encountered, while testing `podman build ... --arch=$ARCH` in parallel for several flavors of `$ARCH` with the same DockerFile:

(example from the s390x build)
[code]

@nalin said

the name of the base image.  The image ID for a v2s2 or OCI image is the
same as the digest of the config blob, but the image ID in the error
("3567369c671193f96f057f76e3e136ecbd3fdc7065019cc3dd6ed5a96894f128") is
not t

[2021-05-20 19:15] cevich commented on #915
***Note***: In case anybody else encounters this, a functional workaround is:

Run the parallel builds each with a different `--root` and `--runroot` locations.  Combining the manifest at the end by exporting each image first, e.g. into `docker-archive` files.

[2021-05-20 19:36] nalind commented on #915
There are two things mentioned above.  The first was a containers/image thing (https://github.com/containers/image/pull/1232).

[2021-05-20 19:53] cevich commented on #915
What the heck!  I double-checked your e-mail and a it said `containers/storage` but now it says `containers/image`!  I can't believe my eyes!  Clearly somebody has hacked into the server and altered the text of the e-mail!  It's the ***only*** logical explanation!

[2021-05-20 19:53] #915 closed

[2021-05-21 09:58] Hi-Angel opened #917 "`podman system df` hangs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Command `podman system df` never finishes.

**Steps to reproduce the issue:**

1. Execute `podman system df`

**Describe the results you received:**

It never finishes. I let it run in background for 1 hours and 5 minutes, and then interrupted it.

**Describe the results you expected:**

It w

[2021-05-21 15:01] giuseppe commented on #917
PR here: https://github.com/containers/storage/pull/918

[2021-05-21 15:04] Hi-Angel commented on #917
Thanks! For the record, the command with `debug` option that I executed [as of this comment 1.5 hours ago still haven't finished. In the debug log sometimes, once-twice per second, new messages appears.

I'm guessing this experiment is not interesting at this point, so I'm interrupting it.

[2021-05-21 19:31] rhatdan commented on #917
SGTM

[2021-05-24 21:30] #917 closed

[2021-05-27 23:48] cmurf opened #929 "CRI-O should work out of the box on btrfs"
Right now it defaults to the overlay driver and btrfs needs to be enabled manually in storage.conf.

* autodetect when on btrfs, and use the btrfs driver; otherwise use overlay driver
* consider the case of upgrades, where overlay is already being used and overlay driver should continue being used

[Fedora btrfs issue](https://pagure.io/fedora-btrfs/project/issue/47)

[2021-05-31 07:39] vrothberg commented on #929
Thanks!

@giuseppe @rhatdan what do you think?

[2021-05-31 07:44] giuseppe commented on #929
the btrfs is not well maintained and it lacks some features we have on overlay.  I think overlay is still a better default also on btrfs

[2021-05-31 18:11] Conan-Kudo commented on #929
Do you know what we're missing? Maybe we can figure out something to drive some development toward that.

(cc: @davide125)

[2021-05-31 19:10] giuseppe commented on #929
The BTRFS driver can be a valid alternative if for any reason overlay is not available, but IMO overlay still works better for the containers storage and we should try to use it whenever it is possible.

BTRFS works fine as backing store for the overlay driver, so I'd like to know if there is any particular reason for preferring it instead of overlay.  Is there any use case where it works better t

[2021-05-31 20:41] cmurf commented on #929
Btrf snapshot creation and destruction is significantly more performant than reflink copies and unlinkat() for teardown. In theory the native driver should be less complicated.

I'm not finding issues reported against containers/btrfs driver or even the moby one. But certainly having resources to maintain the driver properly is a prerequisite for setting the native driver as default.

[2021-06-01 18:30] rhatdan commented on #929
The issue is that Everyone in the world has been using Overlay, we have been working on overlay for many years and most of the core developers understand Overlay.  Almost noone in the world has used BTRFS in Podman, CRI-O, Buildah Docker or Containerd.  Would it work, probably.  Would it work as well?  In Rootless Mode?  What happens if the system default is BTRFS but the homedirs are not? On NFS?

[2021-06-01 18:30] #929 closed

[2021-06-03 00:45] cmurf commented on #929
I'll open an issue wherever it should go. I don't know the whole history of the btrfs driver, if it was direct copy or port from docker, but it got quite a lot of work back then initially, because that's what CoreOS was using by default.

Today with podman, it does work rootless same as rootful, for subvolume/snapshot creation and teardown. There is a fallback to (effectively) use rm -rf if the bt

[2021-06-03 11:10] giuseppe commented on #929
since we are discussing also Podman, I think it is fine to keep the discussion here instead of the CRI-O issues tracker.

If there is any particular workload where btrfs performs better, then the users can select the btrfs driver in their config file, but that should not be the default.  In addition to what Dan said, I am still convinced that overlay is a better default even when btrfs is availabl

[2021-06-08 12:19] yiminmv opened #937 "The mergedDir has different permission mode on two hosts"
Hi there,

I deployed two k8s clusters with CRI-O on two cloud VMs, and I found two nodes have different rootfs permissions. I observed that on AWS hosts, the directory `/var/lib/containers/storage/overlay/<container-id>/merged` mode is 0755, and on Azure hosts, this dir mode is 0555.

I have read some source code at the version of 1.24.5, and found by default, the mergedDir's mode is 0700, the co

[2021-06-08 19:04] nalind commented on #937
The default mode for a container's rootfs when its base image doesn't specify one was changed from a default of 0755 to 0555 by the combination of #743 and #772.  The permissions of the mountpoint itself (0700) are largely irrelevant, since the permissions of the root directory of the filesystem that's mounted there are what you actually see when something's mounted there, and there wasn't a perce

[2021-06-09 01:43] yiminmv commented on #937
Thanks for the reply, will continue the discussion on slack channel.

[2021-06-09 01:43] #937 closed

[2021-06-10 12:45] rhatdan commented on #869
It is working on golang 1.16.4 for me.

[2021-06-10 12:45] #869 closed

[2021-06-10 12:46] rhatdan commented on #900
Renamed.

[2021-06-10 12:46] #900 closed

[2021-06-12 08:58] rhatdan commented on #858
This should really be under Podman not in storage. And I think this would be best handled via a volume plugin perhaps.

[2021-06-14 14:22] rhatdan commented on #901
I believe currently fuse-overlayfs will be used if CAP_SSY_ADMIN is removed and rootless overlayfs mounts are not supported.

Reopen if I am mistaken.

[2021-06-14 14:22] #901 closed

[2021-06-14 14:23] rhatdan commented on #868
Why can't the loader of containers/storage default the storage driver?

[2021-06-14 14:26] rhatdan commented on #712
Since this Patch was merged, I am closing.

[2021-06-14 14:26] #712 closed

[2021-06-14 14:27] rhatdan commented on #640
@joelsmith @nalin was this ever fixed?  Can we close this?

[2021-06-14 14:28] #624 closed

[2021-06-14 14:29] rhatdan commented on #605
Since there has been no movement on this in a year, I am going to consider this as a WONTFIX

[2021-06-14 14:29] #605 closed

[2021-06-14 14:30] rhatdan commented on #420
@saschagrunert What should we do with this one now?

[2021-06-14 14:31] rhatdan commented on #383
Since there has been no work on this for a while, I am going to close for lack of interest.

[2021-06-14 14:31] #383 closed

[2021-06-14 14:32] saschagrunert commented on #420
Closing this since I don't see a valid path forward.

[2021-06-14 14:32] #420 closed

[2021-06-14 14:33] rhatdan commented on #498
@ktock @AkihiroSuda I think this is all merged now, so closing.  Reopen if I am mistaken.

[2021-06-14 14:33] #498 closed

[2021-06-14 14:34] rhatdan commented on #595
@nalind @saschagrunert Any progress on this?

[2021-06-14 14:40] c-goes commented on #901
I'm sure it's possible to use it for several years now. What I was suggesting is the same user experience as docker: guessing what is the best storage driver to use.

[2021-06-14 15:49] siretart commented on #712
@rhatdan that patch only makes the error message clearer, but doesn't resolve anything. I am not familiar enough with the code to fix it myself, sorry :-(

[2021-06-21 10:09] tobwen opened #947 "[rootless] kernel 5.13rc6: not using native diff for overlay"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
_Podman_ throws an error about kernel lower than `4.8` would not using native diff for overlay, but  I'm on a newer kernel.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Since I'm on a later kernel than 4.8, it

[2021-06-22 12:45] #947 closed

[2021-07-08 14:21] ricardomaraschini opened #959 "Static binary keeps reexecing"
I have the following reproducer that attempts to load a docker image from disk (tar file) into local storage:

[code]

This works fine if I compile like so:

[code]

If I attempt to build it as a static binary the program never finishes. This is how I am compiling:

[code]

I have noticed that the binary keeps been rexec()ed. The environment is the following and I am running the binary as a regula

[2021-07-08 14:44] nalind commented on #959
Replace the `panic("reexec returned true")` with `return true`.  That's the recommended usage for `reexec.Init()`.

[2021-07-08 14:48] ricardomaraschini commented on #959
Do you mean a simple `return` (as main does not return anything)? I've put a `return` there but the problem persist.

[2021-07-08 18:32] ricardomaraschini commented on #959
These are the processes I can see when I run the static binary:

[code]

The initial process stops [here](https://github.com/containers/storage/blob/main/pkg/unshare/unshare_linux.go#L156), it never reads the pid.

[2021-07-08 18:44] ricardomaraschini commented on #959
Not sure if relevant but posting here as it might help. This is the environment variables I can see when the process is execv'd with the "normal" binary (filtered only by variables starting with `_`):

[code]

This is the same output, after execv'd the static binary:

[code]

[2021-07-08 21:30] ricardomaraschini commented on #959
I can confirm that [this](https://github.com/containers/storage/blob/main/pkg/unshare/unshare.c#L299) function is not called from the static version of the binary.

[2021-07-08 22:19] ricardomaraschini commented on #959
With CGO disable this won't work. Closing it.

[2021-07-08 22:19] #959 closed

[2021-07-13 07:47] sdlarsen opened #963 "Storage issue after updating cri-o from 1.20.3 to 1.21.0"
Hi.

I'm on flatcar-linux stable (5.10.43) and have been running cri-o for quite a while.

I've been running without a storage.conf file, but have now added one. It's simple (the disabling of kernel check was a suggestion from @haircommander, but didn't make a difference - he pointed me your way for further assistance).

My storage.conf:
[code]

While cri-o 1.20.3 runs without issues (I do get a w

[2021-07-13 19:14] rhatdan commented on #963
@saschagrunert PTAL

[2021-07-14 08:00] saschagrunert commented on #963
I think we should be able to support overlay over xfs if `d_type=true`. What's the output of `xfs_info`?

[2021-07-14 08:18] sdlarsen commented on #963
xfs_info output:
[code]

[2021-07-14 09:29] saschagrunert commented on #963
Hm, so generally I would assume that it should work, because `ftype=1`.

[2021-07-14 10:46] sdlarsen commented on #963
@saschagrunert That was what I expected as well. And why I tried with ext4 and btrfs too just to check, but I get the same error. What I don't understand is why crio-1.20.3 works just fine and of course suspect the bumping of containers/storage now...

[2021-07-14 18:47] rhatdan commented on #963
@giuseppe PTAL

[2021-07-14 20:47] giuseppe commented on #963
could you run `crio --log-level debug` and attach the output you get?

Also, what is the output of `cat /proc/self/mountinfo`?

[2021-07-15 06:08] sdlarsen commented on #963
I'll get back to you on that shortly @giuseppe. This output from dmesg caught my eye, as it doesn't appear when running 1.20.3:
[code]
I do have selinux = false in my crio.conf though.

[2021-07-15 06:11] sdlarsen commented on #963
crio --log-level debug output:
[code]
Output of cat /proc/self/mountinfo:
[code]

[2021-07-16 08:25] sdlarsen commented on #963
Interestingly, if I changed SELinux state in /etc/selinux/config from permissive to disabled, I get:
[code]
Meaning that cri-o 1.21.0 starts fine then.

I'm not much into SELinux, but somehow permissive is not enough for 1.21.0, but was for earlier versions?

[2021-07-16 10:18] sdlarsen commented on #963
I suspect the two ```if selinux.GetEnabled()``` checks in storage/overlay.go in func supportsOverlay. I see the first has introduced a guard after 1.28.1 (the version used in cri-o). Would a bump fix it then?

[2021-07-16 13:39] haircommander commented on #963
great find @sdlarsen! I bet that has something to do with it. We already have a new c/storage in 1.21, it just needs to be packaged. I will try to bump it today :smile:

[2021-07-17 12:52] Elettronik commented on #963
In the last 2 days I smashed my head against this issue. The error born on the
`github.com/opencontainers/selinux` go module:
https://github.com/opencontainers/selinux/blob/e7d514804f82dac63d2e2ff2b43563116c4423d3/go-selinux/selinux_linux.go#L93

[code]
That just check the enablement and mount of SELinux pseudo fs, not if it is in permissive or enforce mode. Then on https://github.com/containers/s

[2021-07-21 12:23] sdlarsen commented on #963
The 1.21.2 cri-o release works for me. Thanks!

[2021-07-21 12:23] #963 closed

[2021-08-09 11:24] zhujian7 opened #985 "Run go get github.com/containers/storage/cmd/containers-storage@v1.33.2 failed"
Run `go get github.com/containers/storage/cmd/containers-storage@v1.33.2` failed with information:
[code]

Where can I get the `shadow/subid.h` file, and how？ very appreciated If anyone can give me some hints

[2021-08-09 11:49] saschagrunert commented on #985
Hey @zhujian7, you have to install the [shadow package](https://github.com/shadow-maint/shadow) from your distribution to make the compilation work.

@rhatdan with the merge of https://github.com/containers/storage/pull/882 we decided to invert the flag logic of `no_libsubid`. Unfortunately not every distribution seems to provide an appropriate packaging for the lib. Do you think it would make sen

[2021-08-09 13:13] rhatdan commented on #985
That would be fine, my only hesitancy would be people not knowing about the feature.

[2021-08-09 13:14] giuseppe commented on #985
Yes, I think once libsubid is spread, we need to switch back to the opt-out version for the build tag

[2021-08-09 13:31] rhatdan commented on #985
Ok, please open a PR to switch it.

[2021-08-09 13:35] saschagrunert commented on #985
See https://github.com/containers/storage/pull/986

[2021-08-09 17:17] #985 closed

[2021-08-16 14:14] stac47 opened #996 "Sharing memory between containers"
Hello,
I am trying to figure out whether it is possible to share the loaded shared library between containers. The rationale behind this is that if I build twice an image (without using the cache `--no-cache`) and provided I take care a creating reproducible layer FS diff, then the instantiated container will not use twice the amount of memory.
To make it more explicit and without talking about sh

[2021-08-16 14:33] rhatdan commented on #996
@nalind @giuseppe PTAL

[2021-08-17 09:21] vrothberg opened #999 "need an API for alterting image digests"
Similar to `SetNames(...)` for altering the names of an image, I desire an API to alter the _digests_ of an image.

Background: `docker rmi foo@RepoDigest` is actually removing `RepoDigest` from `foo` without removing the image.  However, we currently have no way of altering the digests and misbehave.

WDYT @mtrmac @nalind @rhatdan ?

[2021-08-17 14:31] mtrmac commented on #999
I don’t think that’s _quite_ what is going on here? `storage.Image.Digests` are computed from recorded digests of associated manifests; it’s not a stored property. (It might be possible to just remove one of the manifests, but… the same image can _truly_ and _legitimately_ be repo1@samedigest and repo2@samedigest, and in that case `docker rmi repo1@samedigest` should not remove `repo2@samedigest`

[2021-08-17 14:36] mtrmac commented on #999
TBH I don’t immediately know what `docker rmi foo@digest` does for untagged images — does it remove the image even with multiple RepoDigest values? I assume `docker rmi repo@tag` does not remove any repoDigest value (it doesn’t know which one), and therefore having several repoDigest values, and a single RepoTag could be fairly frequent occurrence.

Or is it expected to work some other way?

[2021-08-17 14:43] vrothberg commented on #999
It's only removing the specified RepoDigest from the image.

[code]

[2021-08-18 21:47] mrunalp opened #1000 "Reuse pgzip reader to avoid excessive buffer allocation"
Here is an output from pulling a jboss wildfly image with a debugging diff:

[code]

Diff:

[code]

There is a ReaderN method that allows us to modify the number of blocks allocated.
Also, we could benefit from allocating the gzip Reader from a sync.Pool, so there is better reuse
of the buffer during image pulls.

@nalind @giuseppe @rhatdan @umohnani8

[2021-08-18 22:04] mrunalp commented on #1000
@mtrmac

[2021-08-18 22:49] mrunalp commented on #1000
https://github.com/emicklei/go-restful/blob/v3/compressor_cache.go https://github.com/emicklei/go-restful/blob/v3/compressor_pools.go implements a cache and a pool of gzip reader/writers

[2021-08-19 07:17] giuseppe commented on #1000
they don't seem like many allocations, but we probably improve it as you suggested with a pool of decompressors.

We can use `Reader.Reset(r io.Reader)` to re-use an existing allocated decompressor with a new stream

[2021-08-19 09:54] stac47 commented on #996
I am trying to continue on my side on this topic. Now I am quite sure the limitation does not come from the Kernel and the backing file system. In fact, the reflink copy (provided by some FS like XFS) as no chance to work in regards to mmap.

As a matter of fact, I turn my hopes to overlay FS which should be geared for this kind of optimization. So, I am digging into this by testing with podman et

[2021-08-19 14:46] mrunalp commented on #1000
It looks like ~160 MB for that one image and if there are concurrent image pulls we can spike very high. Instead we can have a max layers pulls knob and tie the allocations based on that, so our memory usage is more predictable.

[2021-08-19 15:22] mtrmac commented on #1000
Does reuse actually help _spikes_? If there are concurrent image pulls, that implies concurrent buffer / pgzip uses, so reusing allocations _over time_ does not decrease the amount of memory actually necessary.

Sure, making work easier for the GC go avoid the GC over-allocating might still be very useful (tens of percent of memory usage is a real memory), but ultimately spike prevention and predi

[2021-08-19 15:33] vrothberg commented on #1000
Isn't cri-o pulling in a dedicated cgroup?  If so, we could (in addition) set memory limits there.

[2021-08-19 15:51] mtrmac commented on #1000
That’s an extremely important point. “In a dedicated cgroup” actually means _in a separate process_ (https://github.com/cri-o/cri-o/blob/abbfb13221625fa8145253272079723dea4f742d/internal/storage/image.go#L467 ), so any work we could do to reduce allocations _across copies_ would be completely ineffective. Any reuse in that case would be scoped to a single `copy.Image`.

But I can see nothing setti

[2021-08-19 15:54] mrunalp commented on #1000
The pull in cgroup isn't enabled by default today. That's something we have to test for various scenarios. The main motivation to enable it is charging the image pull to a pod. However, a pod could specify a low memory limit like ~20MB and we want image pulls to succeed even for such cases.

[2021-08-19 15:56] mrunalp commented on #1000
Agree that limiting the concurrency will limit how much we allocate at a time. I am advocating for both. If we want to do only one at a time then we can start with limiting the concurrency.

[2021-08-19 16:01] mtrmac commented on #1000
BTW the standard library gzip implementation uses about 32 KB, instead of 4 MB. That would, I think, make this problem pretty much completely go away; the price we would pay is, per https://github.com/containers/storage/pull/255 , “30% improvement in the wall clock time”.

[2021-08-19 16:28] mtrmac commented on #1000
Some data in https://github.com/containers/image/issues/1349#issuecomment-902057119 .

[2021-08-20 12:03] vrothberg commented on #1000
We could, in theory, synchronize across processes as well by means of shared memory.  But making it opt-in for one process space would be my favored approach (e.g., a semaphore that can be passed to copy.Options).

@mtrmac @mrunalp WDYT?

[2021-08-20 14:31] mtrmac commented on #1000
Way too much infrastructure (shared memory across what scope (all of the UID is not obviously what the user wants)? how do we recover from pulls starting, claiming one of the limited number of pulls, and crashing?), at least now when we aren’t actually using the out-of-process pulls.

Yes, that seems like a great option (c/image already uses a semaphore for limiting concurrency, so we would just e

[2021-08-20 15:28] mrunalp commented on #1000
Yeah, opt-in sounds good to me. Also, we will need to tune it in OpenShift for different environments depending on how much resources they have.

[2021-08-23 13:36] stac47 commented on #996
In order to progress, I was thinking to the following small change.

We could add a `overlay-fsdiff` as a slibling of `overlay`, `overlay-layers`, `overlay-images`, `overlay-containers`. This directory would contain the diffs that are currently in `overlay/<layerid>/diff` directory. Each diff would lay in its own directory whose name could be the sha256 of the diff.

Then, in each layer composing

[2021-08-23 14:04] giuseppe commented on #996
@stac47 I am doing some related work (although I've been focusing on sharing storage rather than memory) with https://github.com/containers/storage/pull/775.

Do you think that model could work for your use case?

Another feature I am working on is doing deduplication through hard-links, that should help with mmap: https://github.com/containers/storage/pull/995

[2021-08-23 16:45] stac47 commented on #996
@giuseppe Thanks so much for your answer. Indeed, #995 looks promising. Locally in my podman graphroot directory, I turned one 'output.dat' into a hardlink to the 'output.dat' of the another layer and the memory is, as expected, shared between containers.

I saw that your PR is from a branch named "zstd-chunked-hard-links-dedup" but is it related to the compression algorithm of the layers ?

[2021-08-23 17:08] stac47 commented on #996
@giuseppe Actually, the reason I proposed to have a separated directory containing all the file system diffs, is that in the Docker documentation (https://docs.docker.com/storage/storagedriver/overlayfs-driver/#how-the-overlay-driver-works) we can read:

But to be honest, I don't really understand the "excessive use of inodes" when using hardlinks. What I proposed could, at least, only reduce the

[2021-08-24 07:46] giuseppe commented on #996
that feature is related to the zstd:chunked feature I was working on.

I don't think there is a "excessive use of inodes" problem when using hardlinks, there are other issues though so IMO using hardlinks must be a last resort.

In what timezone are you located?  Do you think it could be helpful to have a call to discuss the issue you are having?

[2021-08-24 07:59] stac47 commented on #996
Thanks for your answer.
I sent you a mail to your RedHat address.

[2021-08-24 14:46] mtrmac commented on #1000
For the record, letting the caller of `copy.Image` limit concurrency was implemented by @vrothberg in https://github.com/containers/image/pull/1356 .

[2021-08-25 13:18] stac47 commented on #996
@giuseppe as discussed this morning, I manually did what I described in my proposal directly in the podman graphroot.
First, I determined where the file `output.dat` was stored:
[code]
I moved one diff in a directory `overlay-fsdiff` and removed the other in the other layer:
[code]
Now the two layers look like this:
[code]
I spawned two containers from the different images:
[code]
As we can see he

[2021-09-06 15:26] leahneukirchen opened #1013 "rootless overlayfs: lacking support for overlay volumes"
In #816, support was added for rootless overlayfs mounts: `userxattr` is passed onto the overlay mount for `/` in this case.

However, overlay volume mounts (`-v /foo:/foo:O`) do not use the `userxattr` flag in the mount call, which results in issues where directories cannot be renamed because EXDEV is returned, see https://www.kernel.org/doc/html/latest/filesystems/overlayfs.html#renaming-directo

[2021-09-07 21:17] rhatdan commented on #1013
@flouthoc @giuseppe WDYT?

[2021-09-08 05:55] flouthoc commented on #1013
I think we can default this in buildah if session is `rootless` and we are falling back to native overlay. @giuseppe WDYT ?

@leahneukirchen you can try with vendoring in following commit https://github.com/flouthoc/buildah/commit/f75d59698138d6d904d9ea516fd188a2467ce649 . I'll open a PR once @giuseppe confirms

[code]

[2021-09-08 09:25] giuseppe commented on #1013
yes, @flouthoc could you open a PR?

[2021-09-08 10:09] flouthoc commented on #1013
@giuseppe sure !

[2021-09-10 13:57] giuseppe commented on #996
sorry for the delay.

In your example  bde06f8a7e and de3ea9ea6 will both point to the same data.  How do you pick what layers can be deduplicated with this mechanism?

[2021-09-15 08:48] manuelfrei opened #1034 "error copying layers and metadata for container"
Hi

We are using podman version 3.2.3 with fuse-overlayfs-1.6-1.module+el8.4.0+11822+6cc1e7d7.src.rpm. When we start ~20 rootless podman builds one or more builds fail with failures like the following:

error copying layers and metadata for container "85cd75cbdfefeca6ec6cd98aa53fca172db68dbf970f2141e9146fe6fda26f26": Error initializing source containers-storage:59854a5fed6358d7670c49745df86483137a

[2021-09-29 08:47] apollo13 opened #1029 "Empty additional image stores are not ignored."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`additionalimagestores` are required to be prepopulated, if they are empty the following error is raised:
[code]

**Steps to reproduce the issue:**

1. Configure `additionalimagestores` to point to `/var/lib/containers/shared/` and make sure it is not writable by the current user

2. Run `pod

[2021-09-29 18:26] #1029 closed

[2021-09-29 18:42] apollo13 commented on #1029
Wow that was quick @rhatdan -- much appreciated!

[2021-10-05 12:41] ilya-lesikov opened #1036 "reexec without CGO"
Hi, as I understand, without CGO it's currently not possible to use reexec https://github.com/containers/storage/issues/959#issuecomment-876781677 ?

If so, aren't there any plans to make it work without CGO? And is it even possible to make this kind of reexec in go without C?

[2021-10-05 13:21] rhatdan commented on #1036
@giuseppe PTAL

[2021-10-05 14:22] giuseppe commented on #1036
IIRC, there are some limitations in how `unshare` can be used from Go.  I'd think also the `memfd_create+fexecve` fallback is probably not doable in Go.
There are no plans, at least from the core team, but if someone is willing to spend some time on it and open a PR, I don't have anything against a !cgo variant

[2021-10-06 06:03] flouthoc commented on #1034
@manuelfrei Hi, would it be possible for you to try this patch ? I am quite sure this should fix issues for you as well.

[2021-10-06 13:49] ilya-lesikov commented on #1036
Thanks for explaining. We stumbled upon https://github.com/golang/go/issues/22283, which might be the reason for implementing `unshare` in C. Anyways, for now we'll just try to build statically linked binary with CGO enabled. The issue can be closed if you wish so.

[2021-10-07 11:32] #1034 closed

[2021-10-15 07:19] cmoulliard opened #1043 "ERRO[0010] Failed to built-in GetDriver graph unsupported /Users/cmoullia/code/redhat-buildpacks/poc/var/lib"
## Issue

When we try to get the Store using `buildStore, err := storage.GetStore(buildStoreOptions)`, then the following error is reported on macos

[code]
This error is reported by the following code: https://github.com/containers/storage/blob/main/drivers/driver.go#L308

[2021-10-17 01:25] DistantThunder opened #1044 "Can't build images and some images have issues with OverlayFS on ZFS dataset (NO zfs storage driver - rootless)"
# System information

Kernel Version: 5.14.9-zen2-1-zen (64-bit)
Processors: 16 × AMD Ryzen 7 5800X 8-Core Processor
Memory: 62.7 Gio of RAM
Graphics Processor: AMD Radeon RX 6900 XT

Also reproduced on:

* ZFS-on-Linux version: 2.1.1

# How to reproduce

* Set up an update- to-date Fedora environment though I suspect you can reproduce on practically all existing Linux distributions
* Install ZFS

[2021-10-18 08:40] cmoulliard commented on #1043
What is `vfs` ?

[2021-11-09 00:20] jfroy opened #1056 "`ChownPathByMaps` collapses UIDs when container UID 0 is mapped to non-zero host UID that also appears in the image"
`ChownPathByMaps` has a surprising (to me) behavior when creating a container with a UID map that maps container UID 0 to a non-zero host UID from a container image with files owned by both UID 0 and that non-zero UID.

As a simple example, imagine a system image where most nodes are owned by UID 0, with a few files owned by UID 1000 (say by virtue of running `useradd` in the Containerfile).

If y

[2021-11-09 01:15] rhatdan commented on #1056
@giuseppe PTAL

[2021-11-09 10:31] giuseppe commented on #1056
this PR seems to fix the issue: https://github.com/containers/storage/pull/1057

I've no idea why it was originally checking for the `RootPair()`.  Let's see if it breaks anything in the CI

[2021-11-09 19:26] #1056 closed

[2021-11-12 13:09] freva opened #1060 "`podman images` slow with `--uidmap`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We run a single ~6 GB podman image with multiple containers, each rootfull and with a unique `--uidmap` & `--gidmap`. When running many (~20-30) such containers `podman images` command becomes very slow. After a quick look with `strace` and some other debugging, I believe most of the time spe

[2021-11-12 13:14] giuseppe commented on #1060
this happens because everytime you use a different mapping, c/storage needs to clone the image and chown it, effectively creating a new image.

So even if there is one image visible, in reality there are multiple images in the storage and we calculate the size for them.

AFAICS, the cost grows linearly with how many images are in the storage (even if they are not visible with `podman images`).

I'

[2021-11-12 13:38] vrothberg commented on #1060
That makes sense, thank you, @giuseppe!

Do you have rough ETA on when idmapped mounts will arrive?

[2021-11-12 15:24] rhatdan commented on #1060
We have been told that they hope to have the kernel fixed by end of year.
IDMapps do not work with Overlay at this point in the kernel

[2021-11-12 15:26] vrothberg commented on #1060
Shall we make showing the size optional?  It's expensive in any case but Docker displays it by default.

[2021-11-12 15:53] rhatdan commented on #1060
Yes I think we should make it optional.

[2021-11-12 15:54] rhatdan commented on #1060
And then have a containers.conf flag, if people want to match Docker behaviour.

[2021-11-12 16:13] mskarbek opened #1061 "`podman load` unreliable with ZFS driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Occasionally `podman` fails to load image with error:
[code]

Let's say I have a few images to load from archives:
[code]
At some point, ZFS driver just fails unexpectedly:
[code]
Debug log from a single occurrence of the error:
[code]

Working solution for now is to remove `podman`storage db

[2021-11-12 16:18] freva commented on #1060
There's also the issue that data is not properly cleaned up after removing the image that was started with `--uidmap`, e.g.
[code]
If I pull the image again, it shows that all but the last layer are already there, only after I delete it again (without starting with `--uidmap`) will everything be removed.
[code]

[2021-11-18 06:45] juhp opened #1068 "podman run --userns=keep-id causes ~/.local/share/containers/storage/overlay to be owned by uid 10000"
/kind bug

**Description**

Running a toolbox container in F35 or since June in F34 changes
the ownership of `~/.local/share/containers/storage/overlay` to be uid 10000.

**Steps to reproduce the issue:**

1. In a clean update to date Fedora 33/34/35 instance/account or F35 live image:
[code]

2. `dnf install toolbox`

3. `yes | toolbox enter`

**Describe the results you received:**
The overlay/ d

[2021-11-18 21:12] martinetd opened #1064 "`Error: readlink /var/lib/containers/storage/overlay: invalid argument` after commit + hard reset (unflushed data)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm aware running `podman commit` then pulling the power is not supported, but I'm hoping the most obvious errors can be squashed if traced down precisely enough.
If these issues are not enough I can afford some time to make it into PRs, but someone familiar with the code will probably fix it

[2021-11-19 17:49] giuseppe commented on #1068
PR here: https://github.com/containers/storage/pull/1069

[2021-11-19 18:30] #1068 closed

[2021-11-23 15:07] PavelSosin-320 opened #1073 "Use BTRFS transactional nature to keep Rootless user artifact storage consistent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Use BTRFS snapshot of the rootless user Podman storage area consistent over any possible failure in the container creation.

To avoid situations like
#https://github.com/containers/podman/issues/12264
Since BTRFS subvolumes are well protected from writing by non-owner it can improve secur

[2021-11-24 12:38] debarshiray commented on #1068
Thanks for getting this fixed, @giuseppe !

[2021-11-25 12:15] JayDoubleu opened #1076 "Unable to pull image : `Error processing tar file(exit status 1): lsetxattr /vendor: invalid argument`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to pull image results in error.

**Steps to reproduce the issue:**

1. `podman pull  docker.io/redroid/redroid:12.0.0-latest`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens o

[2021-11-26 10:01] giuseppe commented on #1076
opened a PR: https://github.com/containers/storage/pull/1077

[2021-11-26 10:45] cmoulliard opened #1078 "ApplyLayer exit status 1 stdout: stderr: mkdir /temp-storage-extract865807893: operation not permitted"
## Issue

When we run the following go application which [build](https://github.com/containers/buildah/blob/main/imagebuildah/build.go#L64)/parse a Dockerfile using buildah, then the following error is reported by this storage project because we dont have the permissions to write a file top of the root FS of the container.

[code]

Ideally the following path should not be [hard coded](https://gith

[2021-11-26 11:17] cmoulliard opened #1079 "vagrant up fails to download vbox file"
## Issue

vagrant up fails to download vbox file

[code]

Older versions are not longer available on the fedora web site but only since version https://fedora.ip-connect.info/linux/releases/32/Cloud/x86_64/images/

And if we bump to **fedora32**, then provision is failing
[code]

[2021-11-26 12:02] vrothberg commented on #1079
This looks awfully outdated and, in all honesty, I never looked into this folder.

@rhatdan @giuseppe shall we remove it?

[2021-11-26 12:08] cmoulliard commented on #1079
if you do that, how would it be possible to compile it in a VM or on macos ?

[2021-11-26 15:26] giuseppe commented on #1079
I am in favor of it.

how are you consuming c/storage that needs to be cross-compiled?  Would be enough to set the `GOARCH` and `GOOS`?

[2021-11-27 19:54] JayDoubleu commented on #1076
I'm not 100% sure how these images are getting created.
redroid provides some Container files to build it here https://github.com/remote-android/redroid-doc/tree/master/android-builder-docker

However It seems that the filesystem is built by some build system used to build android.

[2021-11-29 15:59] #1076 closed

[2021-11-29 19:05] rhatdan commented on #1076
Yes we should ignore selinux labels in an image.

[2021-11-29 19:13] rhatdan commented on #1078
Should tmpdir default to being under $TEMPDIR?

[2021-11-29 19:19] rhatdan commented on #1078
I think this is happening here:
https://github.com/containers/storage/blob/main/pkg/chrootarchive/diff_unix.go#L58-L60

[2021-11-29 19:22] rhatdan commented on #1079
I would also remove it

[2021-11-29 19:46] nalind commented on #1078
The directory into which we're chrooting needs to be writable by the caller.  It's the only directory that we can be certain even exists.

Sidebar: https://github.com/redhat-buildpacks/poc/blob/main/buildah/code/main.go needs to call InitReexec() _before_ attempting to process environment variables or command line flags, which may be used to pass information to child processes invoked using the re